@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
/*   font-family: 'Noto Sans', sans-serif; */

:root {
  --bg1: #202225;
  --bg2: #28282c;
  --accent1: #7eddd3;
  --accent2: #FF94D1;
  --red1: #73223e;
  --red2: #730135;
  --gray1: #888;
  --gray2: #555;
  --white1: #e3e6eb;
}

body{
    background:var(--bg1);
    font-family: 'Noto Sans', sans-serif;
    padding: unset;
    margin:unset;
    -webkit-touch-callout: none;
         -webkit-user-select: none;
         -khtml-user-select: none;
         -moz-user-select: none;
         -ms-user-select: none;
         user-select: none;
}
   
@keyframes fadedown {
  0% {
    transform: translateY(-1%);
  }
  100% {
    transform: translateY(0);
  }
}

#PageContentEncompass{
  width:67%; 
  margin:auto;
}

.note{
 border:solid var(--red2);
 background-color: var(--red1);
 border-radius: 10px;
 color: var(--bg1);
 width:97%;
 margin-left: auto;
 margin-right: auto;
}

.noteheader{
  border-bottom: solid;
  color: var(--bg1);
}

.note div{
  border:solid var(--bg1);
  border-radius: 10px;
  color: var(--bg1);
  width: -webkit-fill-available;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Noto Sans', sans-serif;
}

/* 
    <section class="note"> 
        <p class="noteheader"> note </p>
        <ol> 
            <li> </li>
        </ol>
    </section>
     */


.child{    
  border: solid;
  border-radius: 5px;
  width: 97%;
  height: 392px;
  margin-top: 9px !important;
  height:auto;
  margin: auto;
}
   
.child p{
  margin-left:1em;
  margin-right:1em;
  text-align:left;
}

.subheadings{
  margin:10px;
  border-bottom:solid;
  overflow:hidden;
  color: var(--accent1) !important;
}

#headingsec{
  width:100%; 
  height:90px;
  border-bottom:solid;
  border-color:var(--accent1);
  margin-bottom: 10px;
}
div{
  margin-left:auto;
  margin-right:auto;
  color: var(--accent1);
 }
 
div:nth-child(1){
  animation: 1s ease-out 0s 1 fadedown;
}
div:nth-child(2){
  animation: 1s ease-out 0s 1 fadedown;
}
div:nth-child(3){
  animation: 1s ease-out 0s 1 fadedown;
}

section{
  color: var(--accent1);
}

header{
  position: absolute;
  top:0%;
  width: 100%;
}

footer{
  width: 100%;
  height: auto;
  background-color: var(--bg2);
  position: fixed;
  bottom: 0%;
  text-align: center; 
  z-index: 10000;
}

footer div{
  border:none !important;
  display: none;
}

footer button{
  border:none !important;
  width: -webkit-fill-available !important;
}

footer button:hover{
  width: -webkit-fill-available !important;
}

footer p{
  padding: 10px;
  font-size: 10px !important;
  margin: unset !important;
  width: auto;
}

footer #rightist{
  font-size: 10px;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--bg1); 
}
   
/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--gray1); 
}
  
  /* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background:var(--gray2); 
  width: 10px;
  height: 10px;
}

img{
  max-height:400px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: auto;
  height: auto;
  display: block;
  border: transparent;
  border-radius: 15px;
}

p, a{
  font-size: calc(16px + 6 * ((100vw - 320px) / 680));
  color:var(--white1);
  font-family: 'Noto Sans', sans-serif;
  text-align: Center;
  transition:0.4s;
}

p:hover, a:hover{
  color: var(--accent1);
 }
 
button{
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  border: solid;
  border-color: var(--accent1);
  background-color: transparent;
  color: var(--white1);
  transition:0.4s;
  width: auto;
}

button:hover{
  border-color: var(--bg1);
  color: var(--bg1);
  background-color: var(--white1);
  width: 110px;
}

#logo{
  font-size: 63px !important;
  color:var(--accent1);
  margin: 0px;
}


.brandimg{
  height: 50px;
  margin: auto;
  position: relative;
  margin:auto;
  filter: brightness(55%);
  filter: grayscale(100%);
  transition:1s;
}

.brandimg:hover{
  filter: brightness(100%);
  filter: grayscale(0%);
}

#tabheadingnav-popup{
  display: none;
  position: absolute;
  padding-bottom: 10px;
  border-bottom: solid;
  width: -webkit-fill-available;
  background-color: var(--bg1);
  box-shadow: 10px 10px 100px 10px black;
  z-index: 100000000000 ;
}
#tabheadingnav-popup button{
  width: 140px !important;
  border: none;
  border-radius: 0;
  border-left: solid;
  border-right: solid;
}

#tabheadingnav-popup-trio{
  display: flex;
}

#lost:hover{color: var(--white1);}


@media only screen and (max-width: 600px){

p{    
  font-size: calc(16px + 6 * ((100vw - 320px) / 680))
}
        
img{
  max-width: 100%; 
  max-height: 100%;
}
    
#noshow, #descheadingnav{
  display: none;
}

#logo{
  text-align: center; 
  width: 100%; 
}

.penis{
  width:100% !important;
}

#tabheadingnav{
  display: none !important;
}
}

@media only screen and (min-width: 600px){

p{    
  font-size: calc(16px + 6 * ((100vw - 320px) / 100000)) !important
}
      
  footer button{
    display: none !important;
  }

  footer #rightist{
    text-align: right;
    float: right;

  }
  footer #leftist{
    float: left;
    text-align: left;
  }

  .pp p, .pp a{
    margin-top: unset;
    margin-bottom: unset;
    margin-right: auto;
    margin-left: auto;
    padding: auto;
    font-size: calc(20px + 6 * ((100vw - 320px) / 100000));
  } 

  #noshow{
    display: block !important;
  }

  #lost{
    font-size: calc(10px + 6 * ((100vw - 300px) / 100000)) !important ;
    margin: auto !important;
    color: var(--gray1);
  }

  #logo{
    text-align: left;
    padding-left: 15px;  
  }
  #tabheadingnav{
    display: none;
  }
}

@media only screen and (max-width: 768px){
  #PageContentEncompass{ 
    width:100%;
    margin:unset;
  }
} 

@media only screen and (max-width: 877px){
  #noshow, #descheadingnav{
    display: none;
  }
  #tabheadingnav{
    display: block;
  }
  
  #tabheadingnav button{
    position: absolute;
    right: 0;
    margin-top: 24px;
    width: auto;
    border-radius: unset;
    border-right: none;
    border-bottom: none;
    border-top: none;
  }

  #logo{
    text-align: center;
    padding: 0;  
    width: 100%;
  }

  .penis{
    width: 100% !important;
  }
  
}
