@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');


body{
    background:#2d2e30;
    padding: unset;
    padding-top: 100px;
    padding-bottom: 35px;
    margin:unset;
    -webkit-touch-callout: none;
         -webkit-user-select: none;
         -khtml-user-select: none;
         -moz-user-select: none;
         -ms-user-select: none;
         user-select: none;
}
   
@keyframes fadedown {
  0% {
    transform: translateY(-1%);
  }
  100% {
    transform: translateY(0);
  }
}
          
div{
  margin-left:auto;
  margin-right:auto;
  color: #7eddd3;
 }
 
section{
  color: #7eddd3;
}

div:nth-child(1){
  animation: 1s ease-out 0s 1 fadedown;
}
div:nth-child(2){
  animation: 1s ease-out 0s 1 fadedown;
}
div:nth-child(3){
  animation: 1s ease-out 0s 1 fadedown;
}


/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

  
/* Track */
::-webkit-scrollbar-track {
  background: #2d2e30; 
}
   
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}
  
  /* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
  width: 10px;
  height: 10px;
}



p{
  font-size: calc(16px + 6 * ((100vw - 320px) / 680));
  color:#e3e6eb;
  font-family: 'Noto Sans', sans-serif;
  text-align: Center;
  transition:0.4s;
}

p:hover{
  color: #7eddd3;
 }
 
a{
  font-family: 'Noto Sans', sans-serif;
  color:#e3e6eb;
  transition:0.4s;
 }
  
 a:hover{
  color: #7eddd3;
 }
 
button{
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  border: solid;
  border-color: #7eddd3;
  background-color: transparent;
  color: #e3e6eb;
  transition:0.4s;
  width: auto;
}

button:hover{
  border-color: #2d2e30;
  color: #2d2e30;
  background-color: #e3e6eb;
  width: 110px;
}

 img{
  max-width:400px;
  max-height:400px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: auto;
  height: auto;
  display: block;
  border: transparent;
  border-radius: 15px;
}
  
header{
  position: absolute;
  top:0%;
  width: 100%;
}

footer{
  width: 100%;
  height: auto;
  background-color: #252627;
  position: fixed;
  bottom: 0%;
  text-align: center; 
}

     
footer button{
  border:none !important;
  display: none;
}


footer p{
  padding: 10px;
  font-size: 10px !important;
  margin: unset !important;
  width: auto;
}

#logo{
  font-size: 63px !important;
  color:#7eddd3;
  margin: 0px;
}


@media only screen and (max-width: 600px){

p{    
  font-size: calc(16px + 6 * ((100vw - 320px) / 680))
}
        
img{
  max-width: 100%; 
  max-height: 100%;
}
    
#noshow{
  display: none;
}
#descheadingnav{
  display: none;
}

#logo{
  text-align: center; 
  width: 100%; 
}

.penis{
  width:100% !important;
}
}
   

@media only screen and (min-width: 600px){

p{    
  font-size: calc(16px + 6 * ((100vw - 320px) / 100000)) !important
}

   
#noshow{
  display: block !important;
}
    
footer button{
  display: none !important;
}

footer #rightist{
  text-align: right;
  float: right;
  font-size: 10px !important;
}
footer #leftist{
  float: left;
  text-align: left;
}

.pp p, a{
  margin-top: unset;
  margin-bottom: unset;
  margin-right: auto;
  margin-left: auto;
  padding: auto;
  font-size: calc(20px + 6 * ((100vw - 320px) / 100000));
}

#lost{
  font-size: calc(10px + 6 * ((100vw - 300px) / 100000)) !important ;
  margin: auto !important;
}

#logo{
  text-align: left;
  padding-left: 10px;  
}
}


               
/* 600 - 815 */