@import url('../style.css');

#redc{
   overflow-y: hidden;
   overflow-x: scroll;
   display:flex;
}

#agebutton{
   padding:0 10 0 10;
   margin: 0;
   width: auto !important;
}

#agebutton:hover{
   width: auto !important;
}

#redc img{
    margin:10px;
}


#pfpp {
   float: right;
   height: 150px;
   margin: 1em;
   border-radius: 10px;
}


.socials{
   margin-left: auto;
   margin-right: auto;
   margin-bottom: unset;
   margin-top: unset;
   -webkit-touch-callout:text;
   -webkit-user-select: text;
   -khtml-user-select: text;
   -moz-user-select: text;
   -ms-user-select: text;
   user-select: text;
}


#birthday{
   position:fixed;
   top: 50%;
   left: 50%; 
   transform:translateX(-50%) translateY(-50%); 
   transition: 0s;
   z-index: 10;
   display: none;
   height: auto;
   width: 60%;
   border:solid;
   border-radius: 10px;
   box-shadow: 0 0 0px 0px , 70px -60px 100px black, 70px 60px 100px black, -70px 60px 100px black, -70px -60px 100px black; 
   background-color: var(--bg1);
}

#birthday button{
   padding: 0px 10px 0px 10px;
}

#birthday button:hover{
   width:auto;
}



@media only screen and (max-width: 768px){
.lmaolmao{
 border-top:solid;
 padding-top:4px;
   }


#pfpp{
 margin:auto;
 width: 93%;
 height:auto;
 float:unset;
 margin-top:10px !important;
}
.papi{
 width:100%;
 position:relative;
    }

#birthday{
   width: 90%;
}

#birthday div, #birthday a{
   display: contents;
   text-decoration: none;
}

#birthday button{
   padding: 10px;
   border-right:none;
   border-left: none;
   border-radius: 0;
   margin: 10 10 0 10;
}
}

