/* main colors */
:root {
    /*   --ikhlas1: #3b4168; 
        --ikhlas1: #202225; 
        --ikhlas1: #050b2b; */
        --ikhlas1: #14181F;
        /* --ikhlas1: #1A1F26; */
        --ikhlas4: #E0E5FF;
        --ik2: #72767d;
        --ik3: #4f545c;
        --ikhlas7-hover: #fff;
        --ikhlas-green: #16c063;
        --ikhlas-red: #e02460;
        --ikhlas-red-hover: #e0248225;
        --ikhlas-spoiler: #2a2c30;
    }
    
    /* dark accents */
    .theme-dark {
        --ikhlas2: #FF94D1;
        --ikhlasdark2: #FF94D1;
        --ikhlas3: #a77edd4f;
        /* --ikhlas3: #a48fffab; */
        --ik5: #ff94d154;
        --ikhlas5: #b96794;
        --ikhlas6: #ff94d19d;
        --ikhlas1-hover: #dd1dd42c;
        --ikhlas2-hover: #f21cd525;
        --ikhlas3-hover: #ffe0f85b;
        --ikhlas4-hover: #f21cce38;
        --ikhlas5-hover: #db1ab1;
        --ikhlas6-hover: #db1ab156;
    }
    
    .theme-light {
        --ikhlas2: #ff9494;
        --ikhlaslight2: #ff9494;
        --ikhlas3: #ff8f8fab;
        --ik5: #ff949454;
        --ikhlas5: #b96767;
        --ikhlas6: #ff94949d;
        --ikhlas1-hover: #dd1d1d2c;
        --ikhlas2-hover: #f21c1c25;
        --ikhlas3-hover: #ffe0e05b;
        --ikhlas4-hover: #f21c1c38;
        --ikhlas5-hover: #db1a1a;
        --ikhlas6-hover: #db1a1a56;
    }
    
    /* Discord Colors */
    :root {
        --bdfdb-blurple: var(--ikhlas2);
    }
    
    .theme-dark, .theme-light {
        --spotify-color:var(--ikhlas2) !important;
        --header-primary: var(--ikhlas4) !important;
        --info-warning-background: var(--ikhlas5) !important;
        --info-warning-foreground: var(--ikhlas2) !important;
        --status-positive-background: var(--ikhlas-green) !important;
        --status-positive-text: var(--ikhlas7-hover) !important;
        --status-danger-background: var(--ikhlas-red) !important;
        --status-danger-text: var(--ikhlas7-hover) !important;
        --header-secondary: #b9bbbe !important;
        --text-normal: var(--ikhlas4) !important;
        --text-muted: #8899a6 !important;
        --text-link: var(--ikhlas2) !important;
        --text-positive: var(--ikhlas-green) !important;
        /*--text-warning: hsl(38,calc(var(--saturation-factor, 1)*95.7%),54.1%);*/
        --text-danger: var(--ikhlas-red) !important;
        --interactive-normal: #b9bbbe !important;
        --interactive-hover: var(--ikhlas2) !important;
        --interactive-active: var(--ikhlas2) !important;
        --interactive-muted: var(--ik3) !important;
        --background-primary: var(--ikhlas1) !important;
        --background-secondary: var(--ikhlas1) !important;
        --background-secondary-alt: var(--ikhlas1) !important;
        --background-tertiary: var(--ikhlas1) !important;
        --background-accent: var(--ikhlas2) !important;
        --background-floating: var(--ikhlas1) !important;
        --background-modifier-hover: var(--ikhlas3-hover) !important;
        --background-modifier-active: var(--ikhlas2-hover) !important;
        --background-modifier-selected: var(--ikhlas2-hover) !important;
        --background-modifier-accent: var(--ikhlas3) !important;
        --scrollbar-thin-thumb: var(--ikhlas-hover) !important;
        --scrollbar-thin-track: transparent !important;
        --scrollbar-auto-thumb:var(--ikhlas2) !important;
        --scrollbar-auto-track: var(--ikhlas3-hover) !important;
        --elevation-stroke: 0 0 0 1px var(--ikhlas2-hover) !important;
        --elevation-low: 0 1px 0 var(--ikhlas2-hover) !important;
        --elevation-medium: 0 4px 4px var(--ikhlas2-hover) !important;
        --elevation-high: 0 8px 16px var(--ikhlas2-hover) !important;
        --logo-primary: var(--ikhlas7-hover) !important;
        --control-brand-foreground: var(--ikhlas2) !important;
        --background-mentioned: var(--ikhlas2-hover) !important;
        --background-mentioned-hover: var(--ikhlas4-hover) !important;
        --background-message-hover: var(--ikhlas1-hover) !important;
        --channels-default: var(--ikhlas7-hover) !important;
        /* --guild-header-text-shadow: 0 1px 1px var(--ikhlas2-hover); */
        --channeltextarea-background: var(--ik5);
        --deprecated-card-bg: var(--ikhlas5);
        --deprecated-card-editable-bg: var(--ikhlas5);
        --deprecated-quickswitcher-input-background: var(--ikhlas5);
        --deprecated-quickswitcher-input-placeholder: var(--ikhlas2);
        --deprecated-text-input-bg: var(--ikhlas5);
        --deprecated-text-input-border: var(--ikhlas1-hover);
        --deprecated-text-input-border-hover: var(--ikhlas2);
        --info-positive-text: var(--ikhlas7-hover);
        --toast-background: #2f3136;
        --toast-header: #202225;
        --toast-contents: #36393f;
        --toast-box-shadow: rgba(0, 0, 0, .2);
        --toast-border: rgba(28, 36, 43, .6);
        --scrollbar-auto-scrollbar-color-thumb: #202225;
        --scrollbar-auto-scrollbar-color-track: #2f3136;
        --info-warning-text: var(--ikhlas7-hover);
        --info-danger-text: var(--ikhlas7-hover);
        --info-help-background: hsla(197,calc(var(--saturation-factor, 1)*100%),47.8%,0.1);
        --info-help-foreground: hsl(197,calc(var(--saturation-factor, 1)*100%),47.8%);
        --info-help-text: var(--ikhlas7-hover);
        --status-warning-text: var(--ikhlas1);
        --text-link-low-saturation: hsl(197,calc(var(--saturation-factor, 1)*100%),52.9%);
    }
    
    html {
        --brand-experiment: var(--ikhlas2);
        --brand-experiment-05a: var(--ikhlas2-hover);
        --brand-experiment-10a: var(--ikhlas4-hover);
        --brand-experiment-15a: var(--ikhlas2-hover);
        --brand-experiment-30a: var(--ikhlas1-hover);
        --brand-experiment-80a: var(--ikhlas6-hover);
        --brand-experiment-95a: var(--ikhlas4-hover);
        --brand-experiment-100: var(--ikhlas2);
        --brand-experiment-160: var(--ikhlas2-hover);
        --brand-experiment-200: var(--ikhlas2);
        --brand-experiment-360: var(--ikhlas2);
        --brand-experiment-400: var(--ikhlas2);
        --brand-experiment-500: var(--ikhlas5-hover);
        --brand-experiment-560: var(--ikhlas2-hover);
        --brand-experiment-600: var(--ikhlas2-hover);
        --control-brand-foreground: var(--control-brand-foreground-new);
    }
    
    /*entire body font*/
    .appMount-3lHmkl, body{
        transition: 0.4s;
        font-family: 'Quicksand', sans-serif;
        color: var(--ikhlas4);
    }
    
    /* text input */
    .inputDefault-_djjkz{
        background-color: var(--ikhlas1);
    }
    
    /* light mode work arounds */
    /* div > .title-3BE6m5:before{
        display: none;
    } 
    
    div > .title-3BE6m5:after{
        content: 'aaaaaa';
    } */
    .message-2qRu38{
        background-color: var(--background-secondary) !important;
    }
    .keybind-KpFkfr{
        color: var(--ik2) !important;
    }
    .bar-2Qqk5Z{
        background-color: var(--ik3) !important;
    }
    .closeButton-1tv5uR{
        border-color: var(--ik2) !important;
    }
    .closeButton-1tv5uR:hover{
        background-color: #72767d4d !important;
    }
    
    .closeButton-1tv5uR svg path {
        fill: var(--ik2) !important;
    }
    
    /* Discord Watermark */
    #app-mount .titleBar-AC4pGV .wordmark-2iDDfm svg {
        width: 0;
    }
    #app-mount .titleBar-AC4pGV .wordmark-2iDDfm::before {
        content: var(--DiscordName);
        margin-left: 5px;
        color: var(--ikhlas2) !important;
        position: absolute;
        text-decoration: line-through;
        font-weight: bold;
        font-size: 14px;
        font-weight: 650;
        top: 4px;
    }
    #app-mount .titleBar-AC4pGV .wordmark-2iDDfm::after {
        content: var(--YourMsg);
        color: var(--ikhlas4) !important;
        position: absolute;
        width: auto;
        display:flex;
        z-index:100;
        font-weight: bold;
        font-size: 14px;
        font-weight: 650;
        top: 4px;
        margin-left: 60px;
    }
    
    
    /* chrismas */
    .childWrapper-anI2G9>svg>g>rect {
        fill: var(--ikhlas2-hover) !important;
        background-color: var(--ikhlas2-hover) !important;
        color: var(--ikhlas4) !important;
    }

    /* Logo Home icon */
    .wrapper-1BJsBx.selected-bZ3Lue .childWrapper-anI2G9, .wrapper-1BJsBx:hover .childWrapper-anI2G9 {
        background-color: var(--ikhlas2-hover) !important;
        color: var(--ikhlas4) !important;
    }
    
    /* Icons in Top bar */
    .toolbar-1t6TWx {
        display: inline-flex !important;
    }
    
    .divider-3FBTu8 {
        background: var(--ikhlas2-hover) !important;
    }
    
    .inviteToolbar-3F-l2g>.clickable-3rdHwn .icon-22AiRD {
        color: var(--ikhlas2) !important;
        position: relative;
        top: 7px;
        left: 7px;
    }
    .inviteToolbar-3F-l2g>.iconWrapper-2OrFZ1 {
        background: transparent;
        width: 38px;
        height: 38px;
        border-radius: 50%;
    }
    .inviteToolbar-3F-l2g>.iconWrapper-2OrFZ1:hover {
        background: var(--ikhlas2-hover) !important;
        width: 38px;
        height: 38px;
        border-radius: 50%;
    }
    .inviteToolbar-3F-l2g>.divider-3FBTu8 {
        margin-top: 7px;
    }
    .toolbar-1t6ikhlasx>.clickable-3rdHwn .icon-22AiRD {
        color: var(--ikhlas2) !important;
        position: relative;
        top: 7px;
        left: 7px;
    }
    .toolbar-1t6ikhlasx>.iconWrapper-2OrFZ1 {
        background: transparent;
        width: 38px;
        height: 38px;
        border-radius: 50%;
    }
    .toolbar-1t6ikhlasx>.iconWrapper-2OrFZ1:hover {
        background: var(--ikhlas2-hover) !important;
        width: 38px;
        height: 38px;
        border-radius: 50%;
    }
    .anchor-3Z-8Bb>.clickable-3rdHwn .icon-22AiRD {
        color: var(--ikhlas2) !important;
        position: relative;
        top: 7px;
        left: 7px;
    }
    .anchor-3Z-8Bb>.iconWrapper-2OrFZ1 {
        background: transparent;
        width: 38px;
        height: 38px;
        border-radius: 50%;
    }
    .anchor-3Z-8Bb>.iconWrapper-2OrFZ1:hover {
        background: var(--ikhlas2-hover) !important;
        width: 38px;
        height: 38px;
        border-radius: 50%;
    }
    .children-19S4PO>div>svg>g>path:nth-child(2) {
        fill: transparent !important;
    }
    div.iconWrapper-2OrFZ1.clickable-3rdHwn[aria-label*="Member List"]>svg>path:nth-child(2) {
        fill: transparent !important;
    }
    div.iconWrapper-2OrFZ1.clickable-3rdHwn[aria-label*="Member List"]>svg>path:nth-child(3) {
        fill: transparent !important;
    }
    div.iconWrapper-2OrFZ1.clickable-3rdHwn[aria-label*="Member List"]>svg>path:last-child {
        fill: transparent !important;
    }
    
    .iconBadge-qZ4Ksk {
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background-color: var(--ikhlas2) !important;
    }
    
    path.strikethrough-3Wiitd {
        color: var(--ikhlas2) !important;
    }
    
    div.iconWrapper-2OrFZ1.clickable-3rdHwn[aria-label*="Mute channel"][aria-checked*="true"]>svg>path:not(.strikethrough-3Wiitd):last-child {
        fill: transparent;
    }
    div.iconWrapper-2OrFZ1.clickable-3rdHwn[aria-label*="Mute channel"][aria-checked*="true"]>svg>path:not(.strikethrough-3Wiitd):nth-child(3) {
        fill: transparent;
    }
    
    div.icon-iDUzSK.iconWrapper-2OrFZ1.clickable-3rdHwn[aria-label*="Threads"]>svg {
        top: 0px;
    }
    .count-bFJRJm {
        position: relative;
        margin-left: 0px;
        left: 10px;
    }
    
    /* Buttons */
    .lookFilled-1Gx00P.colorGreen-29iAKY {
        border-radius: 6px;
        border: 1px solid var(--ikhlas2);
        background-color: transparent !important;
        color: var(--ikhlas2);
    }
    .lookFilled-1Gx00P.colorGreen-29iAKY:hover {
        background-color: var(--ikhlas2-hover) !important;
        color: var(--ikhlas2);
        -webkit-transition: background-color .17s ease,color .17s ease;
        transition: background-color .17s ease,color .17s ease;
    }
    
    /* Borders */
    /* .container-1D34oG {
        border: 1px solid var(--ikhlas3-hover);
    } */
    
    .platform-win .sidebar-2K8pFh {
        border-radius: 0;
    }
    .applicationStore-1pNvnv {
        border: 1px solid var(--ikhlas3-hover)
    }
    .applicationStore-1pNvnv {
        background-color: transparent;
    }
    .contentRegion-3nDuYy {
        border: 1px solid var(--ikhlas3-hover) !important;
    }
    .sidebarRegion-VFTUkN {
        border-bottom: 1px solid var(--ikhlas3-hover) !important;
        border-top: 1px solid var(--ikhlas3-hover) !important;
        border-left: 1px solid var(--ikhlas3-hover) !important;
    }
    .accountProfileCard-1XCH88 {
        border: 1px solid var(--ikhlas3-hover) !important;
    } */
    
    .tabBarContainer-37hZsr{
        display: none;
    }
    
    
    /* Add Friend Button Style */
    .item-3HknzM.item-PXvHYJ[aria-controls=ADD_FRIEND-tab]{
        background-color: var(--ikhlas2) !important;
        color: var(--header-primary) !important;
        border-radius: 23px !important;
    }
    .item-3HknzM.item-PXvHYJ[aria-controls=ADD_FRIEND-tab]:hover{
        background-color: var(--ikhlas5-hover) !important;
        -webkit-transition: background-color .17s ease,color .17s ease;
        transition: background-color .17s ease,color .17s ease;
    }
    
    .themed-OHr7kt[aria-label="Add friend"]{
        color: var(ikhlas4) !important;
        border: solid 1px var(--ikhlas2) !important;
        background-color: var(--background-primary) !important;
        border-radius: 23px !important;
        transition: background-color .17s ease,color .17s ease;
    }
    
    .themed-OHr7kt[aria-label="Add friend"]:hover{
        background-color: var(--ikhlas2) !important;
        color: var(--ikhlas2) !important;
        transition: background-color .17s ease,color .17s ease;
    }
    
    .addFriendHint-3Y70FX{
        display: none;
    }
    /* Friendlist */
    .container-1D34oG {
        background-color: var(--ikhlas1) !important;
    }
    .peopleListItem-2nzedh.active-rhSpJJ, .peopleListItem-2nzedh:hover {
        background-color: var(--ikhlas1-hover) !important;
        border-radius: 6px;
        -webkit-transition: background-color .17s ease,color .17s ease;
        transition: background-color .17s ease,color .17s ease;
    }
    .actionButton-uPB8Fs:first-child {
        margin-left: 0;
    }
    .actionButton-uPB8Fs:hover {
        background-color: var(--ikhlas2-hover) !important;
        -webkit-transition: background-color .17s ease,color .17s ease;
        transition: background-color .17s ease,color .17s ease;
    }
    
    div.actionButton-uPB8Fs[aria-label*="More"]>svg>g>path {
        transform-origin: center;
        transform: rotate(90deg);
    }
    div.children-19S4PO>div.iconWrapper-2OrFZ1>svg {
        color: var(--ikhlas2) !important;
    }
    
    /* Activity Page */
    .wrapper-3D2qGf {
        background-color: var(--ikhlas6) !important;
        border-color: var(--ikhlas6) !important;
    }
    .outer-1AjyKL.active-1xchHY, .outer-1AjyKL.interactive-3B9GmY:hover {
        background-color: var(--ikhlas6-hover) !important;
        -webkit-transition: background-color .17s ease,color .17s ease;
        transition: background-color .17s ease,color .17s ease;
    }
    .inset-3sAvek {
        background-color: var(--ikhlas6) !important;
    }
    .separator-XqIyoz {
        background-color: var(--ikhlas6) !important;
    }
    
    /* misc */
    .item-26Dhrx:hover {
        -webkit-transition: background-color .17s ease,color .17s ease;
        transition: background-color .17s ease,color .17s ease;
    }
    .wrapper-2jXpOf:hover .content-1x5b-n {
        background-color: var(--ikhlas6-hover) !important;
        -webkit-transition: background-color .17s ease,color .17s ease;
        transition: background-color .17s ease,color .17s ease;
    }
    
    .side-8zPYf6 .themed-OHr7kt.selected-3s45Ha.item-PXvHYJ, .topPill-30KHOu .themed-OHr7kt.selected-3s45Ha.item-PXvHYJ {
        color: var(--ikhlas2);
    }
    
    .side-8zPYf6 .themed-OHr7kt.selected-3s45Ha.item-PXvHYJ:hover{
        background-color: var(--ikhlas6-hover);
    }

    .header-2-Imhb .tabBar-1kuXvJ .tab-ck0077.active-1MbGPa {
        background-color: transparent;
    }
    .header-2-Imhb .tabBar-1kuXvJ .tab-ck0077.active-1MbGPa:hover {
        border-radius: 23px;
        background-color: var(--ikhlas2-hover) !important;
        -webkit-transition: background-color .17s ease,color .17s ease;
        transition: background-color .17s ease,color .17s ease;
    }
    .side-8zPYf6 .themed-OHr7kt.item-PXvHYJ:hover:not(.disabled-1Hwwfb), .topPill-30KHOu .themed-OHr7kt.item-PXvHYJ:hover:not(.disabled-1Hwwfb) {
        border-radius: 6px;
        background-color: var(--ikhlas2-hover) !important;
        -webkit-transition: background-color .17s ease,color .17s ease;
        transition: background-color .17s ease,color .17s ease;
    }
    
    .side-8zPYf6 .themed-OHr7kt.selected-3s45Ha.item-PXvHYJ, .topPill-30KHOu .themed-OHr7kt.selected-3s45Ha.item-PXvHYJ {
        border-radius: 4px;
    }
    
    /* Search & Create Server Button Style */
    .circleIcon-2_77lA {
        color: var(--ikhlas2) !important;
    }
    .circleIconButton-hZmpE8.selected-3mFF3I {
        color: var(--ikhlas2) !important;
        background-color: var(--ikhlas2-hover) !important;
    }
    /* create server */
    .templatesList-2E6rTe {
    height: 335px;
    }
    .theme-dark .closeIcon-150W3V > path{
        fill:var(--ikhlasdark2) !important;
    }

    .container-UC8Ug1 {
        border: 1px solid var(--ikhlas4) !important;
    }

    .sampleLink-2NLvZg {
        color:gray;
    }

    .calendarPicker-2yf6Ci .react-datepicker, .calendarPicker-2yf6Ci .react-datepicker__header, .react-datepicker__current-month, .calendarPicker-2yf6Ci .react-datepicker__day {
        background-color: var(--ikhlas1) !important;
        /* color: var(--ikhlas4) !important;    */
    }

    .theme-dark .calendarPicker-2yf6Ci .react-datepicker__day--disabled, .theme-dark .calendarPicker-2yf6Ci .react-datepicker__day--outside-month, .theme-dark .calendarPicker-2yf6Ci .react-datepicker__day.react-datepicker__day--disabled, .theme-dark .calendarPicker-2yf6Ci .react-datepicker__day.react-datepicker__day--disabled:hover, .theme-light .calendarPicker-2yf6Ci .react-datepicker__day--disabled, .theme-light .calendarPicker-2yf6Ci .react-datepicker__day--outside-month, .calendarPicker-2yf6Ci .react-datepicker__week:last-of-type .react-datepicker__day{
        background-color: var(--ikhlas1);
        /* color: #18191c !important; */
    }

    /* Servers discover page */
    .pageWrapper-1PgVDX {
        background-color: var(--background-primary) !important;
    }
    .card-3DjzTQ, .iconMask-3b8GzQ {
        border: 1px solid var(--ikhlas3-hover) !important;
        background-color: var(--ikhlas1);
    }
    .cardHeader-Int16m {
        border-bottom: 1px solid var(--ikhlas3-hover) !important;
    }
    .categoryItem-1QIroW.selectedCategoryItem-FHKU_o .itemInner-gPkiWb {
        background-color: transparent;
        color: var(--ikhlas2) !important;
    }
    .clickable-1JJAn8.container-2Pjhx-:hover, .clickable-1JJAn8.container-2Pjhx-:hover .muted-3mU76i {
        color: var(--ikhlas2) !important;
        -webkit-transition: background-color .17s ease,color .17s ease;
        transition: background-color .17s ease,color .17s ease;
    }

    .powercord-entities-manage-search input{
        margin-bottom: 15px;
        background-color: var(--ikhlas1) !important;
    }

    .powercord-product, .modal-yWgWj-, .powercord-toast, .powercord-toast .contents, .powercord-toast .contents .inner, .powercord-toast .header {
        background-color: var(--ikhlas1) !important;
    }

    .card-o7rAq-, .addFriendInputWrapper-3PjsbB, .card-3uOWw3, .cardPrimary-1Hv-to, .accountList-33MS45, .connectedAccount-2Jb-Z0, .premiumInlineNotice-159eYs, .codeRedemptionRedirect-1wVR4b, .warning-3C2pOH, .notDetected-33MY4s, .notDetected-33MY4s{
        background-color: var(--ikhlas1-hover) !important;
        border: 1px solid var(--ikhlas2) !important;
    }
    /*  */
    
    .root-1gCeng {
        background-color: var(--ikhlas1) !important;
        -webkit-box-shadow: 0 0 0 1px var(--ikhlas2-hover), 0 2px 10px 0 var(--ikhlas2-hover);
        box-shadow: 0 0 0 1px var(--ikhlas2-hover), 0 2px 10px 0 var(--ikhlas2-hover);
        /* border: 2px solid var(--ikhlas1-hover); */
    }
    .footerSeparator-M9dQY1 {
        -webkit-box-shadow: 0 -1px 0 var(--ikhlas2-hover);
        box-shadow: 0 -1px 0 var(--ikhlas2-hover);
    }
    .friendSelected-1sa4bG {
        border-radius: 23px;
        background-color: var(--ikhlas2-hover) !important;
        color: var(--ikhlas2) !important;
    }
    .checkbox-1ix_J3 {
        border-radius: 50%;
        border-color: var(--ikhlas2) !important;
    }
    .friendWrapper-2SrUFF [fill="hsl(217, calc(var(--saturation-factor, 1) * 7.6%), 33.5%)"] {
        fill: var(--ikhlas2) !important;
    }
    .container-1dt-Qg{
        border: none;
    }
    #app-mount .pro-1T8RK7.base-1x0h_U.size12-3cLvbJ, .colorStatusGreen-2saF4_, .eventStatusGreen-3jNYOT{
        color: var(--ikhlas2) !important;
    }
    
    .liveIndicator-1MhhnA {
        background-color: var(--ikhlas2) !important;
    }
    /* Calling buttons */
    .colorable-1bkp8v.primaryDark-3mSFDl, .colorable-1bkp8v.white-3GPOIp {
        background-color: var(--ikhlas2-hover);
    }
    .colorable-1bkp8v.white-3GPOIp, .colorable-1bkp8v.white-3GPOIp .centerIcon-2G6o-T{
        color: var(--ikhlas4);
    }
    .colorable-1bkp8v.white-3GPOIp.active-1QRrIS, .colorable-1bkp8v.white-3GPOIp.active-1QRrIS > div >svg >path, .colorable-1bkp8v.white-3GPOIp:hover, .colorable-1bkp8v.primaryDark-3mSFDl:hover {
        background: var(--ikhlas4-hover) !important;
        color: var(--ikhlas4);
        -webkit-transition: background-color .17s ease,color .17s ease;
        transition: background-color .17s ease,color .17s ease;
    }
    
    /* Deafen Icon Style */
    #app-mount .iconServer-Lyg2F4, .strikethrough-3q4FHz {
        color: var(--ikhlas-red) !important;
    }
    
    /* Voice connected Style */
    .iconBadge-3qSJIw.participating-1NvRVd {
        background-color: var(--ikhlas-green) !important;
    }
    
    /* Share Your Screen color */
    .button-1YfofB.buttonColor-7qQbGO.buttonActive-3FrkXp{
        background-color: var(--ikhlas2) !important;
    }
    .actionButtons-14eAc_>.button-1YfofB.buttonColor-7qQbGO.buttonActive-3FrkXp:hover, .button-1YfofB .buttonColor-7qQbGO.buttonActive-3FrkXp:hover {
        background-color: var(--ikhlas5-hover) !important;
        border: 1px solid var(--ikhlas5-hover) !important;
        -webkit-transition: background-color .17s ease,color .17s ease;
        transition: background-color .17s ease,color .17s ease;
    }
    
    /* Call talking style */
    .colorable-1bkp8v.red-33-Lnk, .colorable-1bkp8v.red-33-Lnk .centerIcon-2G6o-T {
        background: var(--ikhlas-red) !important;
    }
    .avatarSpeaking-2c8-9i {
        -webkit-box-shadow: inset 0 0 0 2px var(--ikhlas-green),inset 0 0 0 6px var(--background-secondary);
        box-shadow: inset 0 0 0 2px var(--ikhlas-green),inset 0 0 0 6px var(--background-secondary);
    }
    .avatarSpeaking-2IGMRN {
        -webkit-box-shadow: inset 0 0 0 2px var(--ikhlas-green),inset 0 0 0 6px var(--background-secondary);
        box-shadow: inset 0 0 0 2px var(--ikhlas-green),inset 0 0 0 6px var(--background-secondary);
    }
    .status-1WEaea {
        background-color: var(--ikhlas-red) !important;
    }
    
    /* New messages */
    .divider-JfaTT5 {
        --divider-color: var(--ikhlas2);
    }
    
    .numberBadge-2s8kKX {
        background-color: var(--ikhlas2) !important;
    }
    .unreadPillCapStroke-7rkHbg {
        color: var(--ikhlas2) !important;
        fill: var(--ikhlas2) !important;
    }
    
    /* Message options */
    .wrapper-2aW0bm {
        border-radius: 10px;
    }
    
    /* channel shii (invite + setting) */
    .actionIcon-PgcMM2{
        display: inline-block !important;
    }
    .actionIcon-PgcMM2 > path{
        display: block !important;
    }
    
    
    /* auto complete */
    .contentTitle-2tG_sM,   .colorInteractiveActive-3Ip9Eu{
        color: var(--ikhlas4) !important;
        opacity: 90%;
    }
    .colorInteractiveNormal-PB7JN3, .icon-3ZzoN7{
        color: var(--ikhlas4) !important;
        opacity: 50%;
    }
    .autocomplete-1vrmpx .scroller-lynW5A {
        padding-top: 2rem;
        display: flex;
        flex-wrap: wrap;
        background-color: var(--background-secondary) !important;
      }
    
    .stickersHeaderWithEmojiResults-31W8SI{
        position: absolute;
        top: 13px;
        left: 50%;
        right: 50%;
    }
       /* stickersHeaderWithEmojiResults-31W8SI fontDisplay-1dagSA base-1x0h_U size12-3cLvbJ */
    
      .autocomplete-1vrmpx .scroller-lynW5A > .base-1pYU8j {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
      }
      .autocomplete-1vrmpx .scroller-lynW5A .autocompleteRowVertical-q1K4ky {
        height: 39px;
        margin: 0 8px;
        padding: 0;
        flex: 1 1 32%;
      }
      .autocomplete-1vrmpx .scroller-lynW5A .autocompleteRowVertical-q1K4ky:nth-last-child(2):not(:nth-child(n)) {
        margin-right: 0;
      }
      .divider-23swzi{display: none;}
    
    /* slash commands */
    .list-17lzo8, .categoryHeader-O1zU94{
        background-color: var(--background-secondary) !important;
    }
    
    /* Spoiler text */
    .spoilerText-3p6IlD.hidden-HHr2R9 {
        background-color: var(--ikhlas-spoiler) !important;
    }
    
    /* Upload a file */
    .menu-3sdvDG {
        max-height: calc(100vh - 150px);
        border: 1px solid var(--ikhlas3-hover) !important;
        border-radius: 12px;
    }
    .uploadModal-2ifh8j {
        background-color: var(--ikhlas1) !important;
        -webkit-box-shadow: 0 0 0 1px var(--ikhlas2-hover), 0 2px 10px 0 var(--ikhlas2-hover) !important;
        box-shadow: 0 0 0 1px var(--ikhlas2-hover), 0 2px 10px 0 var(--ikhlas2-hover) !important;
    }
    .footer-3mqk7D {
        background-color: var(--ikhlas1) !important;
        -webkit-box-shadow: inset 0 1px 0 var(--ikhlas2-hover) !important;
        box-shadow: inset 0 1px 0 var(--ikhlas2-hover) !important;
    }
        
    /* new message and old message */
    .newMessagesBar-265mhP, .jumpToPresentBar-G1R9s6{
        transition: 0.4s;
    }
    
    .jumpToPresentBar-G1R9s6{
        width: 85%;
        padding-bottom: 0px;
        margin: auto;
    }
    .newMessagesBar-265mhP:hover,.jumpToPresentBar-G1R9s6:hover{
        background-color: var(--ikhlas5-hover) !important;
    }
    
    /* member list */
    .members-1998pB, .members-1998pB>div{
        background-color: var(--background-primary) !important;
    }
    /* Text bar */
    .scrollableContainer-2NUZem, .uploadModal-2ifh8j .inner-3nWsbo .channelTextAreaUpload-3t7EIx .scrollableContainer-2NUZem {
        border-radius: 23px;
        background-color: var(--channeltextarea-background) !important;
        border: 1px solid var(--ikhlas1) !important;
        transition: 0.4s;
    }
    .scrollableContainer-2NUZem:active, .uploadModal-2ifh8j .inner-3nWsbo .channelTextAreaUpload-3t7EIx .scrollableContainer-2NUZem:active {
        border: 1px solid var(--ikhlas2) !important;
    }
    
    .channelTextArea-2VhZ6z, .channelTextArea-rNsIhG{
        border-radius: 23px;
    } 
    
    .form-2fGMdU:before {
        border-top: none;
        border-radius: 23px;
        width: 100%;
        margin-top: -14px;
        background: transparent;
        height: 100%;
    }
    .messagesWrapper-1sRNjr.group-spacing-16 {
        margin-bottom: 14px;
    }
    .attachedBars-tZDmyV {
        margin-bottom: 5px;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
    }
    .clipContainer-eeROt0 {
        border-radius: 8px;
    }
    
    [aria-label*="Send a gift"] {
        display: none !important;
    }
    
    /* Mention box */
    .wrapper-3WhCwL{
        color: var(--ikhlas2);
    }
    
    .autocomplete-1vrmpx {
        background-color: var(--ikhlas5) !important;
    }
    .selected-1Tbx07 {
        background-color: var(--ikhlas1-hover) !important;
    }
    
    /* Mention on channel list */
    .mention-1f5kbO{
        background-color: var(--ikhlas2) !important;
        transition: 0.4s;
    }
    
    .mention-1f5kbO:hover{
        background-color: var(--ikhlas2) !important;
        opacity: 60%;
    }
    
    .mention-1f5kbO:active{
        background-color: var(--ikhlas3) !important;
    }
    
    /* Invite to server */
    #app-mount .lookOutlined-3sRXeN.colorGreen-29iAKY {
        color: var(--ikhlas2) !important;
        border-color: var(--ikhlas2) !important;
        border-radius: 6px;
    }
    .inviteRow-2L02ae {
        margin-right: 0;
    }
    .statusOnline-8PnF5L {
        background-color: var(--ikhlas-green) !important;
    }
    .statusOffline-37RKt7 {
        background-color: var(--text-muted) !important;
    }
    
    .attachButtonPlay-3iJ0mf {
      color: var(--ikhlas-green) !important;
    }
    
    /* Search bar */
    
    .searchBar-3dMhjb, .searchBar-6Kv8R2 .searchBarComponent-32dTOx {
        background-color: var(--ikhlas1) !important;
        border: 1px solid var(--ikhlas1) !important;
        box-shadow: none !important;
        transition: 0.4s !important;
    }
    
    .searchBar-3dMhjb:hover, .searchBar-6Kv8R2:hover .searchBarComponent-32dTOx:hover {
        border: 1px solid var(--ikhlas2) !important;
        border-radius: 23px !important;
    }
    
    .searchBar-6Kv8R2, .container-1r6BKw.themed-ANHk51{
        border: none !important;
        /* -webkit-box-shadow: var(--elevation-low);
        box-shadow: var(--elevation-low); */
    }
    
    /* Search page */
    .focused-2bY0OD, .dim-1l4L4y span{
        background-color: var(--background-primary) !important;
        color: var(--ikhlas2) !important;
    }
    .queryContainer-RKFJW-{
        border: none;
    }
    .resultsGroup-r_nuzN:before{
        display: none;
    }
    .layerContainer-yqaFck{
        display: none !important;
    }
    
    .container-1r6BKw.themed-ANHk51{
        background: var(--background-primary) !important;  
    }
    
    .container-3ayLPN{
        background: var(--ikhlas1) !important;
        border: 1px solid var(--ikhlas1-hover) !important;
        border-radius: 7px !important;
    }
    
    .option-96V44q:hover{
        background-color: var(--background-modifier-selected) !important;
    }

    .option-96V44q:after {
        display: none !important;
    }
    
    .searchResulikWrap-3-pOjs {
        border-left: 1px solid var(--ikhlas3-hover) !important;
    }
    
    .tab-2j5AEF.selected-2LAck8 {
        border-radius: 12px !important;
        color: var(--ikhlas2) !important;
        background-color: transparent !important;
    }
    
    .tab-2j5AEF.selected-2LAck8:hover {
        background-color: var(--ikhlas2-hover) !important;
        -webkit-transition: background-color .17s ease,color .17s ease;
        transition: background-color .17s ease,color .17s ease;
    }
    
    .tab-2j5AEF:hover {
        background-color: var(--ikhlas2-hover) !important;
        border-radius: 12px !important;
        -webkit-transition: background-color .17s ease,color .17s ease;
        transition: background-color .17s ease,color .17s ease;
    }
    
    /* Threads */
    .header-1VS4tm .tabBar-31Wimb .tab-PQvTH4.active-30vPlA, .list-wek7hJ .tabBar-wS4pjJ .tab-17bjMB.active-3JUHqX {        
        background-color: var(--ikhlas1-hover) !important;
    }
    div.tab-PQvTH4.active-30vPlA.item-PXvHYJ.selected-3s45Ha.themed-OHr7kt:hover {
        background-color: var(--ikhlas2-hover) !important;
    }
    .container-2I9Hud:not(:hover) {
        border-top: 1px solid var(--ikhlas3-hover) !important;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
    }
    .list-wek7hJ .tabBar-wS4pjJ .tab-17bjMB.active-3JUHqX {
        background-color: transparent;
    }
    div.tab-17bjMB.active-3JUHqX.item-PXvHYJ.selected-3s45Ha.themed-OHr7kt:hover {
        background-color: var(--ikhlas2-hover) !important;
    }
    svg.threadIcon-3XJhLD {
        color: var(--ikhlas2) !important;
    }
    
    .chat-3bRxxu.threadSidebarOpen-vdkwIh {
        border-radius: 0;
    }
    .threadSidebar-1o3BTy {
        margin-left: 0px;
        border-radius: 0;
        border-top: none !important;
        border-bottom: none !important;
        border-right: none !important;
    }
    /* user center */
    .panels-j1Uci_{
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
    /* spotify controls (powercord)  */
    .powercord-spotify .spotify-buttons button > div, .powercord-spotify .spotify-extra-controls button > div{
        color: var(--ikhlas6) !important;
    }
    
    .powercord-spotify .spotify-extra-controls .active{
        color: var(--ikhlas2) !important;
    
    }
    .powercord-spotify {
        background-color: var(--ikhlas1) !important;
        right: 0.4%;
        bottom: 22px;
        border-radius: 10px;
     }
    
    .powercord-spotify .spotify-seek-bar-progress{
        background-color: var(--ikhlas2) !important;
    }
    
    .spotify-seek-bar,.powercord-spotify .spotify-seek-bar-progress{height:3.8px !important;}
    
     .powercord-spotify .spotify-seek-bar-cursor{
         background-color: var(--ikhlas2) !important;
         border: 2px var(--ikhlas2) !important;
     }
    
     .powercord-spotify .spotify-buttons {display: none;}
     .powercord-spotify.hover .spotify-buttons {display: flex !important;}
    
    /* Server permissions */
    .group-1WdBVp {
        border: 1px solid var(--ikhlas3-hover) !important;
    }
    
    /* profiles */
    .additionalActionsIcon-365LnQ {
        color: var(--ikhlas2) !important;
        border: 1px solid var(--ikhlas2) !important;
        transform-origin: center;
        transform: rotate(90deg);
        border-radius: 50%;
        width: 30px;
        height: 30px;
    }
    .additionalActionsIcon-365LnQ:hover {
        background-color: var(--ikhlas2-hover) !important;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        -webkit-transition: background-color .17s ease,color .17s ease;
        transition: background-color .17s ease,color .17s ease;
    }
    .top-28JiJ- .item-PXvHYJ {
        border-bottom: 6px solid transparent;
    }
    .top-28JiJ- .themed-OHr7kt.item-PXvHYJ:hover {
        background-color: var(--ikhlas2-hover) !important;
        -webkit-transition: background-color .17s ease,color .17s ease;
        transition: background-color .17s ease,color .17s ease;
    }
    .focusLock-Ns3yie .top-28JiJ- .item-PXvHYJ, .repoHeader-2KfNvH .top-28JiJ- .item-PXvHYJ, .header-2-Imhb .item-PXvHYJ, .contenikhlasrapper-SvZHNd .navButton-2gQCx-, .searchResulikWrap-3-pOjs .tab-2j5AEF, .container-7uh5fX .tab-PQvTH4 {
        padding: 0 20px 0 20px;
    }

    .theme-dark .activeButton-rvKcqq, .theme-dark .activeButton-rvKcqq:hover, .theme-light .activeButton-rvKcqq, .theme-light .activeButton-rvKcqq:hover{
        background-color: var(--ikhlas2);
    }

    .userPopout-xaxa6l .banner-2QYc2d {
        position: absolute;
        width: calc(100% + 4px);
        height: calc(100% + 4px);
        top: -2px;
        left: -2px;
        background-size: calc(100% - 4px);
        background-position: center 2px;
        border-radius: 10px;
    }
    .userPopout-xaxa6l .banner-2QYc2d:after {
        content: "";
        display: block;
        background-color: inherit;
        border-top-left-radius: inherit;
        border-top-right-radius: inherit;
        width: 100%;
        height: 124px;
        clip-path: path("M 0 0 H 304 V 123 H 302 V 12 Q 302 2 292 2 H 12 Q 2 2 2 12 V 123 H 0 Z");
    }
    .headerTop-3vNv-a, .body-3HBlXn, .footer-3UKYOU {
        background-color: var(--background-floating) !important;
    }
    .avatarPositionNormal-aZjAsn {top: 16px;}
    .avatarPositionNormal-aZjAsn+.headerTop-3vNv-a {padding-top: 119px; border:none;}
    .avatarPositionPremium-3We5Ho+.headerTop-3vNv-a {margin-top: 119px;}
    .avatarPositionNormal-aZjAsn+.headerTop-3vNv-a>.profileBadges-ohc0Vu {top: 75px;}

    /* Remove & Block Friend */
    .colorDanger-2qLCe1, .colorDanger-2qLCe1 .checkbox-3s5GYZ, .colorDanger-2qLCe1 .radioSelection-1HmrQS {
        color: var(--ikhlas-red) !important;
    }
    .colorDanger-2qLCe1.colorDefault-2K3EoJ.focused-3afm-j {
        background-color: var(--ikhlas-red-hover) !important;
    }
    
    /* Account Settings */
    .panels-j1Uci_{
        border-top: 1px solid var(--ikhlas3-hover) !important;
    }
    div#status-picker.menu-3sdvDG.styleFixed-sX-yHV {
        border: 2px solid var(--ikhlas1-hover) !important;
        /* position: absolute; */
        right: 3.5%;
    }   
    
    .popout-VcNcHB{
        border: 1px solid var(--ikhlas3-hover) !important;
        border-radius: 0px 0px 7px 7px;
    }
    
    .colorDefault-2K3EoJ.focused-3afm-j {
        border-radius: 5px;
        background-color: var(--ikhlas1-hover) !important;
        -webkit-transition: background-color .17s ease,color .17s ease;
        transition: background-color .17s ease,color .17s ease;
    }
    .button-14-BFJ.enabled-2cQ-u7:hover {
        color: var(--ikhlas2) !important;
        background-color: var(--background-modifier-selected) !important;
        border-radius: 50%;
        -webkit-transition: background-color .17s ease,color .17s ease;
        transition: background-color .17s ease,color .17s ease;
    }
    div.container-1giJp5>div>.lookFilled-1Gx00P.colorBrand-3pXr91 {
        border: 1px solid var(--ikhlas2) !important;
        color: var(--ikhlas4);
    }
    div.container-1giJp5>div>.lookFilled-1Gx00P.colorBrand-3pXr91:hover {
        background-color: var(--ikhlas2-hover) !important;
        -webkit-transition: background-color .17s ease,color .17s ease;
        transition: background-color .17s ease,color .17s ease;
    }
    
    /* Status picker thing */
    #app-mount #status-picker #status-picker-online:not(.focused-3afm-j) .status-1AY8sU {
        background-color: var(--ikhlas-green) !important;
    }
    #app-mount #status-picker #status-picker-dnd:not(.focused-3afm-j) .status-1AY8sU {
        background-color: var(--ikhlas-red) !important;
    }
    #app-mount #status-picker #status-picker-invisible:not(.focused-3afm-j) .status-1AY8sU {
        background-color: var(--text-muted) !important;
    }
    
    /* Status Colors */
    #app-mount .wrapper-3t9DeA rect[fill="hsl(139, calc(var(--saturation-factor, 1) * 47.3%), 43.9%)"],
    #app-mount .wrapper-3t9DeA rect :not(.pointerEvenik-2zdfdO)[mask="url(#svg-mask-status-online)"] {fill: var(--ikhlas-green)}
    #app-mount .wrapper-3t9DeA rect[fill="hsl(139, calc(var(--saturation-factor, 1) * 47.3%), 43.9%)"],
    #app-mount .wrapper-3t9DeA rect :not(.pointerEvenik-2zdfdO)[mask="url(#svg-mask-status-online-mobile)"] {fill: var(--ikhlas-green)}
    #app-mount .wrapper-3t9DeA rect[fill="hsl(359, calc(var(--saturation-factor, 1) * 82.6%), 59.4%)"],
    #app-mount .wrapper-3t9DeA rect :not(.pointerEvenik-2zdfdO)[mask="url(#svg-mask-status-dnd)"] {fill: var(--ikhlas-red)}
    
    .container-1r6BKw [fill="hsl(139, calc(var(--saturation-factor, 1) * 47.3%), 43.9%)"] {
      fill: var(--ikhlas-green);
    }
    .container-1r6BKw [fill="hsl(359, calc(var(--saturation-factor, 1) * 82.6%), 59.4%)"] {
      fill: var(--ikhlas-red);
    }
    
    /* Change status Page */
    .lookFilled-22uAsw.select-2fjwPw {
        border: 1px solid;
        border-color: var(--ikhlas3-hover) !important;
    }
    
    /* Channel things */
    .clickable-1JJAn8.container-2Pjhx-:hover, .clickable-1JJAn8.container-2Pjhx-:hover .muted-3mU76i {
        color: var(--channels-default) !important;
        -webkit-transition: background-color .17s ease,color .17s ease;
        transition: background-color .17s ease,color .17s ease;
    }
    .clickable-1JJAn8:hover .layout-2DM8Md {
        background-color: var(--background-modifier-selected);
        -webkit-transition: background-color .17s ease,color .17s ease;
        transition: background-color .17s ease,color .17s ease;
    }
    .clickable-1JJAn8.container-2Pjhx-:active:hover, .highlighted-1gWxXa.container-2Pjhx-:hover, .selected-aXhQR6.container-2Pjhx-:hover {
        background-color: var(--background-modifier-selected);
        -webkit-transition: background-color .17s ease,color .17s ease;
        transition: background-color .17s ease,color .17s ease;
    }
    .listItem-2Ig28I > .pill-gcH-8B > .item-2hkk8m{
        background-color: transparent !important;
    }
    
    .item-2hkk8m{
        background-color: var(--interactive-active) !important;
    }
    
    /*selected private channel*/
    
    .selected-aXhQR6 .layout-2DM8Md{
        background-color: var(--ikhlas1-hover);
    }
    /*folders*/
    
    .folderIconWrapper-1Ml_1q{
        background-color: transparent !important;
    }
    
    .folderIconWrapper-1_bOZe:hover {
        background-color: var(--ikhlas2-hover) !important;
    }
    
    .closedFolderIconWrapper-1I9YfS{
        background-color: var(--ikhlas2-hover) !important;
        transition: 0.5s;
    }

    .folderIconWrapper-1Ml_1q:hover{
        background-color: var(--ikhlas4-hover) !important;
    }
    
    .expandedFolderIconWrapper-3fmTfW > svg {
        color: var(--ikhlas2) !important;
    }
    
    /* Stage Discovery */
    .container-1a3EgQ {
        border: 1px solid var(--ikhlas3-hover) !important;
    }
    .footer-2gL1pp {
        background-color: var(--ikhlas1) !important;
        -webkit-box-shadow: inset 0 1px 0 var(--ikhlas2-hover);
        box-shadow: inset 0 1px 0 var(--ikhlas2-hover);
    }

    .lookFilled-1Gx00P.colorGrey-2DXtkV:hover {
        background-color: var(--ikhlas3-hover) !important;
        -webkit-transition: background-color .17s ease,color .17s ease;
        transition: background-color .17s ease,color .17s ease;
    }
    
    /* Nitro section */
    .feature-2w65J5{
        background-color: var(--ikhlas1) !important ;
    }
    .lookInverted-2D7oAl.colorBrand-3pXr91:hover:not(.standardSidebarView-3F1I7i) {
        background-color: var(--ikhlas5-hover) !important;
        -webkit-transition: background-color .17s ease,color .17s ease;
        transition: background-color .17s ease,color .17s ease;
    }
    .lookInverted-2D7oAl.colorBrand-3pXr91 {
        border-radius: 23px !important;
        background-color: var(--ikhlas2) !important;
        color: var(--header-primary) !important;
    }
    .billingInformation-1MZXzx.detailsBlock-FoDTGA, .detailsBlock-FoDTGA, .dropdown-2fxkrS {
        border: 1px solid var(--ikhlas3-hover) !important;
    }
    div#popout_3247.layer-v9HyYc {
        border: 1px solid var(--ikhlas3-hover) !important;
    }
    .option-3KoAJB {
        border-bottom: 1px solid var(--ikhlas3-hover) !important;
    }
    .lookFilled-1Gx00P.colorGreen-29iAKY:disabled {
        background-color: transparent;
    }
    
    .featureImage-2L9kA0, .featureTitle-W5O6R1, .hero-EvfTTA{
        margin: auto;
    }
    /* Boost Server */

    .headerLogo--hLLAk > g > path {
        fill: var(--ikhlas4) !important;
    }
    .iconTierThree-1dzVP7{
        color: var(--ikhlas4);
    }
    .tier-2pEkRl {
        border: 1px solid var(--ikhlas3-hover);
    }
    .tierHeaderUnlocked-3lTDnP {
        background-color: var(--ikhlas4) !important;
    }
    .tierHeaderLocked-3S508x, .tierBody-3aUxuc {
        background-color: var(--ikhlas2-hover) !important;
        color: var(--ikhlas4);
    }
    .perksModal-1pSu7w {
        background-color: var(--ikhlas1) !important;
    }
    .tierBody-16Chc9 {
        background-color: var(--ikhlas5) !important;
    }
    .tierHeaderLocked-1s2JJz {
        background-color: var(--ikhlas1) !important; 
    }
    .tierWrapper-W9ajqp {
        border: 1px solid var(--ikhlas3-hover) !important;
    }
    .barBackground-2EEiLw, .tierMarkerBackground-3q29am {
        background-color: var(--ikhlas5) !important;
    }
    .ctaBar-2UsjF2 {
        border: 1px solid var(--ikhlas3-hover) !important;
    }
    .perk-2WeBWW {
        background-color: var(--ikhlas5) !important;
    }
    
    .gemIndicatorContainer-2jdECl {
        background-color: var(--ikhlas4) !important;
    }
    .cardWrapper-2Min21 {
        border: 1px solid var(--ikhlas3-hover) !important;
        transition: 0.4s;
    }
    .cardWrapper-2Min21:hover{
        background-color: var(--ikhlas1-hover);
    }
    .card-3AyPWq:hover{
        background-color: transparent;
    }
    /* Buttons & settings page */

    .lookFilled-1Gx00P.colorBrand-3pXr91:hover, .lookFilled-1Gx00P.colorTransparent-1ewNp9:hover, .lookFilled-1Gx00P.colorBrandNew-g5lmBU:hover {
        background-color: var(--ikhlas4-hover) !important;
        -webkit-transition: background-color .17s ease,color .17s ease;
        transition: background-color .17s ease,color .17s ease;
    }
    .lookFilled-1Gx00P.colorBrandNew-g5lmBU, .lookFilled-1Gx00P.colorGrey-2DXtkV{
        border: 1px solid var(--ikhlas4);
        background-color: transparent !important;
        transition:0.4s;
        border-radius: 6px;
    }
    .lookFilled-1Gx00P.colorBrand-3pXr91{
        color:var(--ikhlas1);
    } 
    /* .lookInverted-2D7oAl .contents-18-Yxp, .lookLink-9FtZy- .contents-18-Yxp, .lookOutlined-3sRXeN .contents-18-Yxp{
        color: var(--ikhlas4);
    } */
    .lookFilled-1Gx00P.colorBrand-3pXr91, .lookFilled-1Gx00P.colorBrandNew-g5lmBU {
        border-radius: 6px;
    }
    .side-8zPYf6 .themed-OHr7kt.selected-3s45Ha.item-PXvHYJ, .topPill-30KHOu .themed-OHr7kt.selected-3s45Ha.item-PXvHYJ, .lookFilled-1Gx00P.colorTransparent-1ewNp9 {
        background-color: var(--background-modifier-selected) !important;
    }
    
    .lookFilled-1Gx00P.colorRed-1TFJan {
        background-color: var(--ikhlas-red) !important;
    }
    .lookFilled-1Gx00P.colorRed-1TFJan:hover {
        background-color: hsla(341, 75%, 51%, .8) !important;
    }
    .lookOutlined-3sRXeN.colorRed-1TFJan {
        color: var(--ikhlas-red) !important;
        border-color: var(--ikhlas-red) !important;
    }
    .lookOutlined-3sRXeN.colorRed-1TFJan:hover {
        background-color: var(--ikhlas-red-hover) !important;
    }
    
    .side-8zPYf6 .item-PXvHYJ[aria-controls="DELETE-tab"], .side-8zPYf6 .item-PXvHYJ[aria-controls="logout-tab"] {
        color: var(--ikhlas-red) !important;
    }
    .side-8zPYf6 .item-PXvHYJ[aria-controls="DELETE-tab"]:hover, .side-8zPYf6 .item-PXvHYJ[aria-controls="logout-tab"]:hover {
        background-color: var(--ikhlas-red-hover) !important;
    }
    
    
    /* Connections */
    .connection-1fbD7X, .connectedAccount-2Jb-Z0, .authedApp-mj2Hmd {
        border: 1px solid var(--ikhlas3-hover) !important;
        transition: 0.4s;
    }
    .accountBtn-2Nozo3 .accountBtnInner-sj5jLs {
        background-color: transparent;
        border: none;
    }

    .connectedAccount-2Jb-Z0:hover {
        background-color: var(--ikhlas2-hover);
        }

    .connectionHeader-2MDqhu {
        border-bottom: 1px solid var(--ikhlas3-hover) !important;
    }
    
    /* Voice settings */
    div.container-3PXSwK {
        border-radius: 5px;
    }
    .userSettingsVoice-iwdUCU .previewOverlay-2O7_KC {
        background-color: var(--ikhlas5) !important;
        border-color: var(--ikhlas3-hover) !important;
    }
    .css-gvi9bl-control {
        border-color: var(--ikhlas3-hover) !important;
    }
    
    /* Payment methods */
    /* .codeRedemptionRedirect-1wVR4b {
        color: var(--ikhlas4) !important;
        background-color: var(--ikhlas3) !important;
        border-color: var(--ikhlas3) !important;
    } */
    .lookFilled-1Gx00P.colorPrimary-3b3xI6 {
        border-radius: 6px;
        border: 1px solid var(--ikhlas3-hover) !important;
        background-color: var(--ikhlas1) !important;
        transition: 0.4s;
    }
    .lookFilled-1Gx00P.colorPrimary-3b3xI6:active, .lookFilled-1Gx00P.colorPrimary-3b3xI6:hover {
        background-color: var(--ikhlas3-hover) !important;
    }
    
    /* Privacy & Safety */

    .item-26Dhrx {
        border: 1px solid var(--ikhlas3-hover);
        border-radius: 6px;
        padding: 0px;
    }
    .radioBar-bMNUI- {
        border-radius: 6px;
    }
    
    /* Check marks */
    .container-3auIfb[style*="opacity: 1; background-color: hsl(139, calc(var(--saturation-factor, 1) * 47.3%), 43.9%)"] {
        background-color: var(--ikhlas2) !important;
    }
    .container-3auIfb[style="opacity: 1; background-color: hsl(218, calc(var(--saturation-factor, 1) * 4.6%), 46.9%);"] {
        background-color: var(--text-muted) !important;
    }
    
    /* HypeSquad */
    .membershipDialogHeading-3y8iIr, .membershipDialogHouseDescription-1GaVtg, .membershipDialogHouseName-ezTTJ9, .membershipDialogSwitchHouses-1K8L1U, .membershipDialogSwitchHousesAction-2a3eDg:hover {
        color: var(--ikhlas4) !important;
    }
    
    /* embeds */
    .embedFull-2tM8--{
        background-color: var(--background-primary) !important;
    }
    
    /* reactions */
    
    .reaction-1hd86g.reactionMe-wv5HKu{
        background-color: var(--brand-experiment-15a) !important;
        border-color: var(--brand-experiment) !important;
    }

    /* servers */
    .avatarUploaderInner-3UNxY3, .lookFilled-1Gx00P.colorBrandNew-g5lmBU:disabled{
        background-color: transparent;
    }

    .interactiveRow-3pCpPS:hover{
        background-color: var(--background-modifier-selected);
    }