/* colours */

@import url("https://mir-woe.github.io/dev/themes/PCTypeOne.css");

/*entire body font*/

.appMount-2yBXZl,
body {
    transition: 0.4s;
    font-family: 'Quicksand', sans-serif;
    color: var(--ikhlas4);
}


/* importantxx */

.card-18Ghqw,
.card-o7rAq-,
.addFriendInputWrapper-kkoSV9,
.card-2fBufY,
.cardPrimary-3qRT__,
.accountList-305sx3,
.connectedAccount-1xKpli,
.premiumInlineNotice-159eYs,
.codeRedemptionRedirect-3SBiCp,
.warning-RBGtx2,
.notDetected-2HEmAp,
.notDetected-2HEmAp,
.subscriptionsRedirectContainer-zD3U79,
.noticeWithoutRightPadding-8tvUxG,
.tierHeaderUnlocked-1OpOLf,
.bannerUpsellContainer-31E9J5,
.powercord-product,
.modal-2RrUKJ,
.powercord-toast,
.powercord-toast .contents,
.powercord-toast .contents .inner,
.powercord-toast .header,
.bd-addon-list .bd-addon-card {
    background-color: var(--ikhlas1-hover) !important;
    border: 1px solid var(--ikhlas2) !important;
}

.bd-addon-list .bd-addon-header {
    background: transparent;
    border-bottom: thin solid var(--background-modifier-accent);
}


/* spotify controls (powercord)  */

.powercord-spotify .spotify-buttons button>div,
.powercord-spotify .spotify-extra-controls button>div {
    color: var(--ikhlas6) !important;
}

.powercord-spotify .spotify-extra-controls .active {
    color: var(--ikhlas2) !important;
}

.powercord-spotify {
    background-color: var(--ikhlas1) !important;
    right: 0.4%;
    bottom: 22px;
    border-radius: 10px;
}

.powercord-spotify .spotify-seek-bar-progress {
    background-color: var(--ikhlas2) !important;
}

.spotify-seek-bar,
.powercord-spotify .spotify-seek-bar-progress {
    height: 3.8px !important;
}

.powercord-spotify .spotify-seek-bar-cursor {
    background-color: var(--ikhlas2) !important;
    border: 2px var(--ikhlas2) !important;
}

.powercord-spotify .spotify-buttons {
    display: none;
}

.powercord-spotify.hover .spotify-buttons {
    display: flex !important;
}


/* better discord theme / plugins */


/* discord watermark */

#app-mount .titleBar-1it3bQ .wordmark-2u86JB svg {
    width: 0;
}

#app-mount .titleBar-1it3bQ .wordmark-2u86JB::before {
    content: var(--DiscordName);
    margin-left: 5px;
    color: var(--ikhlas2) !important;
    position: absolute;
    text-decoration: line-through;
    font-weight: bold;
    font-size: 14px;
    font-weight: 650;
    top: 4px;
}

#app-mount .titleBar-1it3bQ .wordmark-2u86JB::after {
    content: var(--YourMsg);
    color: var(--ikhlas4) !important;
    position: absolute;
    width: auto;
    display: flex;
    z-index: 100;
    font-weight: bold;
    font-size: 14px;
    font-weight: 650;
    top: 4px;
    margin-left: 60px;
}


/* logo Home icon */

.wrapper-3kah-n.selected-1Drb7Z .childWrapper-1j_1ub,
.wrapper-3kah-n:hover .childWrapper-1j_1ub {
    background-color: var(--ikhlas2-hover) !important;
    color: var(--ikhlas4) !important;
}


/* text input */

.inputDefault-3FGxgL {
    background-color: var(--ikhlas1);
}


/* light mode work arounds */

.message-G6O-Wv {
    background-color: var(--background-secondary) !important;
}

.keybind-13vtq8 {
    color: var(--ik2) !important;
}

.bar-1Bhnl9 {
    background-color: var(--ik3) !important;
}

.closeButton-PCZcma {
    border-color: var(--ik2) !important;
}

.closeButton-PCZcma:hover {
    background-color: #72767d4d !important;
}

.closeButton-PCZcma svg path {
    fill: var(--ik2) !important;
}


/* buttonss */

button {
    transition: 0.4s;
}

.hero-1aNo0v>.heroButtons-357iJy>button {
    color: var(--ikhlas1) !important;
    border: 1px solid var(--ikhlas1) !important;
}

.lookFilled-yCfaCM.colorBrandNew-2-gGsS {
    margin-left: 10px;
}

.lookFilled-yCfaCM.colorBrandNew-2-gGsS:disabled {
    background-color: var(--ikhlas2);
    color: var(--ikhlas1);
}

.lookOutlined-3yKVGo.colorWhite-1H92hK,
.lookFilled-yCfaCM.colorGrey-2iAG-B,
.lookFilled-yCfaCM.colorBrandNew-2-gGsS:disabled,
.lookFilled-yCfaCM.colorBrandNew-2-gGs,
.lookFilled-yCfaCM.colorBrand-I6CyqQ,
.lookFilled-yCfaCM.colorGreen-3y-Z79,
.lookFilled-yCfaCM.colorRed-rQXKgM,
.lookLink-15mFoz.colorPrimary-2AuQVo,
.button-2b4VEQ.buttonSize-3QlBTl,
.lookInverted-2mDUMi.colorBrand-I6CyqQ,
.lookFilled-yCfaCM.colorPrimary-2AuQVo,
.lookFilled-yCfaCM.colorBrandNew-2-gGsS,
.lookOutlined-3yKVGo.colorRed-rQXKgM {
    border-radius: 6px;
}

.lookFilled-yCfaCM.colorGrey-2iAG-B {
    color: var(--ikhlas2) !important;
    background-color: var(--ikhlas2-hover) !important;
}

.lookFilled-yCfaCM.colorGrey-2iAG-B:hover,
.lookOutlined-3yKVGo.colorWhite-1H92hK:hover {
    background-color: var(--ikhlas4-hover) !important;
}

.lookFilled-yCfaCM.colorBrandNew-2-gGsS,
.lookFilled-yCfaCM.colorBrandNew-2-gGs,
.lookFilled-yCfaCM.colorBrand-I6CyqQ,
.lookFilled-yCfaCM.colorGreen-3y-Z79 {
    color: var(--ikhlas1) !important;
    background-color: var(--ikhlas2) !important;
}

.lookFilled-yCfaCM.colorBrandNew-2-gGsS:hover,
.lookFilled-yCfaCM.colorBrand-I6CyqQ:hover,
.lookFilled-yCfaCM.colorGreen-3y-Z79:hover {
    background: var(--ikhlas5) !important;
}

.lookFilled-yCfaCM.colorRed-rQXKgM {
    background-color: var(--ikhlas-red) !important;
}

.lookLink-15mFoz.colorPrimary-2AuQVo,
.button-2b4VEQ.buttonSize-3QlBTl,
.lookInverted-2mDUMi.colorBrand-I6CyqQ,
.lookFilled-yCfaCM.colorPrimary-2AuQVo {
    border: 1px solid var(--ikhlas3-hover) !important;
    color: var(--ikhlas3-hover) !important;
    background: transparent !important;
}

.lookLink-15mFoz.colorPrimary-2AuQVo:hover,
.button-2b4VEQ.buttonSize-3QlBTl:hover,
.lookInverted-2mDUMi.colorBrand-I6CyqQ:hover,
.lookFilled-yCfaCM.colorPrimary-2AuQVo:hover {
    border: 1px solid var(--ikhlas4) !important;
    color: var(--ikhlas4) !important;
    background: transparent !important;
}

.lookLink-15mFoz.colorPrimary-2AuQVo:hover .contents-3ca1mk {
    background-image: none !important;
}

.lookInverted-2mDUMi.colorBrand-I6CyqQ:hover {
    background: var(--ikhlas4-hover) !important;
}

.lookOutlined-3yKVGo.colorRed-rQXKgM {
    border: 1px solid var(--ikhlas-red);
    color: var(--ikhlas-red);
}

.button-3Vyz67,
.input-3r5zZY {
    background-color: var(--ikhlas1) !important;
    -webkit-box-shadow: 0 0 0 1px var(--ikhlas2-hover), 0 2px 10px 0 var(--ikhlas2-hover);
    box-shadow: 0 0 0 1px var(--ikhlas2-hover), 0 2px 10px 0 var(--ikhlas2-hover);
    /* border: 2px solid var(--ikhlas1-hover); */
}

.lookOutlined-3yKVGo.colorGreen-3y-Z79 {
    background-color: var(--ikhlas1) !important;
    /* -webkit-box-shadow: 0 0 0 1px var(--ikhlas2-hover), 0 2px 10px 0 var(--ikhlas2-hover); */
    /* box-shadow: 0 0 0 1px var(--ikhlas2-hover), 0 2px 10px 0 var(--ikhlas2-hover); */
    border: 1px solid var(--ikhlas1-hover) !important;
    color: var(--ikhlas4) !important;
    border-radius: 6px;
}

.inviteRow-3vmB7i:hover,
.button-3Vyz67:hover,
.lookOutlined-3yKVGo.colorGreen-3y-Z79:hover {
    background: var(--ikhlas2-hover) !important;
}


/* Icons in Top bar */

.toolbar-3_r2xA {
    display: inline-flex !important;
}

.divider-q3P9HC {
    background: var(--ikhlas2-hover) !important;
}

.inviteToolbar-2k2nqz>.clickable-ZD7xvu .icon-2xnN2Y {
    color: var(--ikhlas2) !important;
    position: relative;
    top: 7px;
    left: 7px;
}

.inviteToolbar-2k2nqz>.iconWrapper-2awDjA {
    background: transparent;
    width: 38px;
    height: 38px;
    border-radius: 50%;
}

.inviteToolbar-2k2nqz>.iconWrapper-2awDjA:hover {
    background: var(--ikhlas2-hover) !important;
    width: 38px;
    height: 38px;
    border-radius: 50%;
}

.inviteToolbar-2k2nqz>.divider-q3P9HC {
    margin-top: 7px;
}

.toolbar-1t6ikhlasx>.clickable-ZD7xvu .icon-2xnN2Y {
    color: var(--ikhlas2) !important;
    position: relative;
    top: 7px;
    left: 7px;
}

.toolbar-1t6ikhlasx>.iconWrapper-2awDjA {
    background: transparent;
    width: 38px;
    height: 38px;
    border-radius: 50%;
}

.toolbar-1t6ikhlasx>.iconWrapper-2awDjA:hover {
    background: var(--ikhlas2-hover) !important;
    width: 38px;
    height: 38px;
    border-radius: 50%;
}

.anchor-1MIwyf>.clickable-ZD7xvu .icon-2xnN2Y {
    position: relative;
    top: 7px;
    left: 7px;
}

.anchor-1MIwyf>.iconWrapper-2awDjA {
    background: transparent;
    width: 38px;
    height: 38px;
    border-radius: 50%;
}

.anchor-1MIwyf>.iconWrapper-2awDjA:hover {
    background: var(--ikhlas2-hover) !important;
    width: 38px;
    height: 38px;
    border-radius: 50%;
}

.children-3xh0VB>div>svg>g>path:nth-child(2) {
    fill: transparent !important;
}

div.iconWrapper-2awDjA.clickable-ZD7xvu[aria-label*="Member List"]>svg>path:nth-child(2) {
    fill: transparent !important;
}

div.iconWrapper-2awDjA.clickable-ZD7xvu[aria-label*="Member List"]>svg>path:nth-child(3) {
    fill: transparent !important;
}

div.iconWrapper-2awDjA.clickable-ZD7xvu[aria-label*="Member List"]>svg>path:last-child {
    fill: transparent !important;
}

.iconBadge-3Mmg92 {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: var(--ikhlas2) !important;
}

path.strikethrough-3Wiitd {
    color: var(--ikhlas2) !important;
}

div.iconWrapper-2awDjA.clickable-ZD7xvu[aria-label*="Mute channel"][aria-checked*="true"]>svg>path:not(.strikethrough-3Wiitd):last-child {
    fill: transparent;
}

div.iconWrapper-2awDjA.clickable-ZD7xvu[aria-label*="Mute channel"][aria-checked*="true"]>svg>path:not(.strikethrough-3Wiitd):nth-child(3) {
    fill: transparent;
}

div.icon-1ELUnB.iconWrapper-2awDjA.clickable-ZD7xvu[aria-label*="Threads"]>svg {
    top: 0px;
}

.count-vTKEhF {
    position: relative;
    margin-left: 0px;
    left: 10px;
}


/* Borders */

.platform-win .sidebar-1tnWFu {
    border-radius: 0;
}

.applicationStore-2nk7Lo {
    background-color: transparent;
}

.contentRegion-3HkfJJ {
    border: 1px solid var(--ikhlas3-hover) !important;
}

.sidebarRegion-1VBisG {
    border-bottom: 1px solid var(--ikhlas3-hover) !important;
    border-top: 1px solid var(--ikhlas3-hover) !important;
    border-left: 1px solid var(--ikhlas3-hover) !important;
}


/* Add Friend */

.inputDefault-3FGxgL {
    background-color: transparent;
}

.tabBar-ra-EuL .item-3mHhwr[aria-controls=ADD_FRIEND-tab] {
    background-color: var(--ikhlas2) !important;
    color: var(--header-primary) !important;
    border-radius: 6px !important;
}

.item-3mHhwr.item-3XjbnG[aria-controls=ADD_FRIEND-tab]:hover {
    background-color: var(--ikhlas5-hover) !important;
    -webkit-transition: background-color .17s ease, color .17s ease;
    transition: background-color .17s ease, color .17s ease;
}

.themed-2-lozF[aria-label="Add friend"] span {
    color: var(ikhlas4) !important;
}

.themed-2-lozF[aria-label="Add friend"] {
    border: solid 1px var(--ikhlas2) !important;
    background-color: var(--background-primary) !important;
    border-radius: 6px !important;
    transition: background-color .17s ease, color .17s ease;
}

.themed-2-lozF[aria-label="Add friend"]:hover {
    background-color: var(--ikhlas2) !important;
    color: var(--ikhlas2) !important;
    transition: background-color .17s ease, color .17s ease;
}

.themed-2-lozF[style*="color: hsl(139, calc(var(--saturation-factor, 1) * 47.3%), 43.9%"] {
    background-color: var(--ikhlas2) !important;
    color: var(--background-primary) !important;
}

.addFriendHint-1EVQJY {
    display: none;
}


/* Friendlist  */

.tabBody-2dgbAs {
    background-color: var(--ikhlas1) !important;
}

.peopleListItem-u6dGxF.active-2UF8Zh,
.peopleListItem-u6dGxF:hover {
    background-color: var(--ikhlas1-hover) !important;
    border-radius: 6px;
    -webkit-transition: background-color .17s ease, color .17s ease;
    transition: background-color .17s ease, color .17s ease;
}

.actionButton-3-B2x-:first-child {
    margin-left: 0;
}

.actionButton-3-B2x-:hover {
    background-color: var(--ikhlas2-hover) !important;
    -webkit-transition: background-color .17s ease, color .17s ease;
    transition: background-color .17s ease, color .17s ease;
}

div.actionButton-3-B2x-[aria-label*="More"]>svg>g>path {
    transform-origin: center;
    transform: rotate(90deg);
}

div.children-3xh0VB>div.iconWrapper-2awDjA>svg {
    color: var(--ikhlas2) !important;
}


/* Activity Page */

.wrapper-2RrXDg {
    background-color: var(--ikhlas6) !important;
    border-color: var(--ikhlas6) !important;
}

.outer-2JOHae.active-1W_Gl9,
.outer-2JOHae.interactive-2zD88a:hover {
    background-color: var(--ikhlas6-hover) !important;
    -webkit-transition: background-color .17s ease, color .17s ease;
    transition: background-color .17s ease, color .17s ease;
}

.inset-SbsSFp {
    background-color: var(--ikhlas6) !important;
}

.separator-2OaeRP {
    background-color: var(--ikhlas6) !important;
}

.scroller-hE2gWq {
    border: none;
}


/* misc */

.item-2idW98:hover {
    -webkit-transition: background-color .17s ease, color .17s ease;
    transition: background-color .17s ease, color .17s ease;
}

.wrapper-NhbLHG:hover .content-1gYQeQ {
    background-color: var(--ikhlas6-hover) !important;
    -webkit-transition: background-color .17s ease, color .17s ease;
    transition: background-color .17s ease, color .17s ease;
}

.side-2ur1Qk .themed-2-lozF.selected-g-kMVV.item-3XjbnG,
.topPill-3DJJNV .themed-2-lozF.selected-g-kMVV.item-3XjbnG {
    color: var(--ikhlas2);
}

.side-2ur1Qk .themed-2-lozF.selected-g-kMVV.item-3XjbnG:hover {
    background-color: var(--ikhlas6-hover);
}

.header-145e10 .tabBar-1qdMr5 .tab-TRrPC8.active-1grPyy {
    background-color: transparent;
}

.header-145e10 .tabBar-1qdMr5 .tab-TRrPC8.active-1grPyy:hover {
    border-radius: 6px;
    background-color: var(--ikhlas2-hover) !important;
    -webkit-transition: background-color .17s ease, color .17s ease;
    transition: background-color .17s ease, color .17s ease;
}

.side-2ur1Qk .themed-2-lozF.item-3XjbnG:hover:not(.disabled-1nofHP),
.topPill-3DJJNV .themed-2-lozF.item-3XjbnG:hover:not(.disabled-1nofHP) {
    border-radius: 6px;
    background-color: var(--ikhlas2-hover) !important;
    -webkit-transition: background-color .17s ease, color .17s ease;
    transition: background-color .17s ease, color .17s ease;
}

.side-2ur1Qk .themed-2-lozF.selected-g-kMVV.item-3XjbnG,
.topPill-3DJJNV .themed-2-lozF.selected-g-kMVV.item-3XjbnG {
    border-radius: 4px;
}


/* Search & Create Server Button Style */

.circleIcon-3489FI {
    color: var(--ikhlas2) !important;
}

.circleIconButton-1VxDrg.selected-2r1Hvo {
    color: var(--ikhlas2) !important;
    background-color: var(--ikhlas2-hover) !important;
}


/* create server */

.templatesList-uohY49 {
    height: 335px;
}

.theme-dark .closeIcon-11LhXr>path {
    fill: var(--ikhlasdark2) !important;
}

.container-x8Y1ix {
    border: 1px solid var(--ikhlas4) !important;
}

.sampleLink-5BWNy9 {
    color: gray;
}

.calendarPicker-sDhzdi .react-datepicker,
.calendarPicker-sDhzdi .react-datepicker__header,
.react-datepicker__current-month,
.calendarPicker-sDhzdi .react-datepicker__day {
    background-color: var(--ikhlas1) !important;
    /* color: var(--ikhlas4) !important;    */
}

.theme-dark .calendarPicker-sDhzdi .react-datepicker__day--disabled,
.theme-dark .calendarPicker-sDhzdi .react-datepicker__day--outside-month,
.theme-dark .calendarPicker-sDhzdi .react-datepicker__day.react-datepicker__day--disabled,
.theme-dark .calendarPicker-sDhzdi .react-datepicker__day.react-datepicker__day--disabled:hover,
.theme-light .calendarPicker-sDhzdi .react-datepicker__day--disabled,
.theme-light .calendarPicker-sDhzdi .react-datepicker__day--outside-month,
.calendarPicker-sDhzdi .react-datepicker__week:last-of-type .react-datepicker__day {
    background-color: var(--ikhlas1);
}


/* Servers discover page */

.pageWrapper-2PwDoS {
    background-color: var(--background-primary) !important;
}

.card-2TuZPZ,
.iconMask-2fMR98 {
    border: 1px solid var(--ikhlas3-hover) !important;
    background-color: var(--ikhlas1);
}

.cardHeader-1kPMOm {
    border-bottom: 1px solid var(--ikhlas3-hover) !important;
}

.categoryItem-1QIroW.selectedCategoryItem-FHKU_o .itemInner-gPkiWb {
    background-color: transparent;
    color: var(--ikhlas2) !important;
}

.clickable-28SzVr.container-1oeRFJ:hover,
.clickable-28SzVr.container-1oeRFJ:hover .muted-14PyqW {
    color: var(--ikhlas2) !important;
    -webkit-transition: background-color .17s ease, color .17s ease;
    transition: background-color .17s ease, color .17s ease;
}

.powercord-entities-manage-search input {
    margin-bottom: 15px;
    background-color: var(--ikhlas1) !important;
}


/*  */

.root-g14mjS,
.root-u9h3Ui {
    background-color: var(--ikhlas1) !important;
    -webkit-box-shadow: 0 0 0 1px var(--ikhlas2-hover), 0 2px 10px 0 var(--ikhlas2-hover);
    box-shadow: 0 0 0 1px var(--ikhlas2-hover), 0 2px 10px 0 var(--ikhlas2-hover);
    /* border: 2px solid var(--ikhlas1-hover); */
}

.footerSeparator-b6VH1V {
    -webkit-box-shadow: 0 -1px 0 var(--ikhlas2-hover);
    box-shadow: 0 -1px 0 var(--ikhlas2-hover);
}

.friendSelected-3cwmD7 {
    border-radius: 6px;
    background-color: var(--ikhlas2-hover) !important;
    color: var(--ikhlas2) !important;
}

.checkbox-f1HnKB {
    border-radius: 50%;
    border-color: var(--ikhlas2) !important;
}

.friendWrapper-2x5j0A [fill="hsl(217, calc(var(--saturation-factor, 1) * 7.6%), 33.5%)"] {
    fill: var(--ikhlas2) !important;
}

.container-3EBHNg {
    border: none;
}

#app-mount .pro-3GwLMX.base-21yXnu.size12-oc4dx4,
.colorStatusGreen-2HKYOW,
.eventStatusGreen-2-f2N8 {
    color: var(--ikhlas2) !important;
}

.liveIndicator-TJKS7N {
    background-color: var(--ikhlas2) !important;
}


/* Calling buttons */

.colorable-3rVGna.primaryDark-2UJt1G,
.colorable-3rVGna.white-11auuQ {
    background-color: var(--ikhlas2-hover);
}

.colorable-3rVGna.white-11auuQ,
.colorable-3rVGna.white-11auuQ .centerIcon-JYpTUi {
    color: var(--ikhlas4);
}

.colorable-3rVGna.white-11auuQ.active-3D763s,
.colorable-3rVGna.white-11auuQ.active-3D763s>div>svg>path,
.colorable-3rVGna.white-11auuQ:hover,
.colorable-3rVGna.primaryDark-2UJt1G:hover {
    background: var(--ikhlas4-hover) !important;
    color: var(--ikhlas4);
    -webkit-transition: background-color .17s ease, color .17s ease;
    transition: background-color .17s ease, color .17s ease;
}


/* Deafen Icon Style */

#app-mount .iconServer-GeSR0b,
.strikethrough-2G7pYT {
    color: var(--ikhlas-red) !important;
}


/* Voice connected Style */

.iconBadge-3qSJIw.participating-1NvRVd {
    background-color: var(--ikhlas-green) !important;
}


/* Share Your Screen color */

.button-1EGGcP.buttonColor-3bP3fX.buttonActive-Uc1jHx {
    background-color: var(--ikhlas2) !important;
}

.actionButtons-2vEOUh>.button-1EGGcP.buttonColor-3bP3fX.buttonActive-Uc1jHx:hover,
.button-1EGGcP .buttonColor-3bP3fX.buttonActive-Uc1jHx:hover {
    background-color: var(--ikhlas5-hover) !important;
    border: 1px solid var(--ikhlas5-hover) !important;
    -webkit-transition: background-color .17s ease, color .17s ease;
    transition: background-color .17s ease, color .17s ease;
}


/* Call talking style */

.colorable-3rVGna.red-3T8maV,
.colorable-3rVGna.red-3T8maV .centerIcon-JYpTUi {
    background: var(--ikhlas-red) !important;
}

.avatarSpeaking-33RRJU {
    -webkit-box-shadow: inset 0 0 0 2px var(--ikhlas-green), inset 0 0 0 6px var(--background-secondary);
    box-shadow: inset 0 0 0 2px var(--ikhlas-green), inset 0 0 0 6px var(--background-secondary);
}

.avatarSpeaking-2pCGrZ {
    -webkit-box-shadow: inset 0 0 0 2px var(--ikhlas-green), inset 0 0 0 6px var(--background-secondary);
    box-shadow: inset 0 0 0 2px var(--ikhlas-green), inset 0 0 0 6px var(--background-secondary);
}

.status-1ZXjSF {
    background-color: var(--ikhlas-red) !important;
}


/* New messages */

.divider-2rZFJK {
    --divider-color: var(--ikhlas2);
}

.unreadPillCapStroke-1nE1Q8 {
    color: var(--ikhlas2) !important;
    fill: var(--ikhlas2) !important;
}


/* pings, unreading, alerts */

.numberBadge-37OJ3S,
.isUnread-3Lojb- {
    background-color: var(--ikhlas2) !important;
    --divider-color: var(--ikhlas2);
}


/* Message options */

.wrapper-2vIMkT {
    border-radius: 10px;
}


/* channel shii (invite + setting) */

.actionIcon-2sw4Sl {
    display: inline-block !important;
}

.actionIcon-2sw4Sl>path {
    display: block !important;
}

.input-2g-os5 {
    background: var(--ikhlas7);
}


/* slider */

.slider-32CRPX>svg>path {
    fill: var(--ikhlas2);
}


/* auto complete */

.contentTitle-3CylD3,
.colorInteractiveActive-30E9n8 {
    color: var(--ikhlas4) !important;
    opacity: 90%;
}

.colorInteractiveNormal-36ZhyZ,
.icon-nmEpWl {
    color: var(--ikhlas4) !important;
    opacity: 95%;
}

.autocomplete-3NRXG8 .scroller-18M1mG {
    padding-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    background-color: var(--background-secondary) !important;
}

.stickersHeaderWithEmojiResults-1b7pYC {
    position: absolute;
    top: 13px;
    left: 50%;
    right: 50%;
}

.autocomplete-3NRXG8 .scroller-18M1mG>.base-2v-uc0 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.autocomplete-3NRXG8 .scroller-18M1mG .autocompleteRowVertical-EA9dCg {
    margin: 0 8px 2px;
    padding: 0;
    flex: 1 1 32%;
}

.base-2v-uc0 {
    padding: 4px 8px 4px 8px;
    margin-bottom: 1px;
}

.list-2u03C- {
    height: 108%;
}

.autocomplete-3NRXG8 .scroller-18M1mG .autocompleteRowVertical-EA9dCg:nth-last-child(2):not(:nth-child(n)) {
    margin-right: 0;
}

.divider-1bJsnZ {
    display: none;
}


/* slash commands */

.list-2u03C-,
.categoryHeader-OpJ1Ly {
    background-color: var(--background-secondary) !important;
}


/* Spoiler text */

.spoilerText-27bIiA.hidden-3B-Rum {
    background-color: var(--ikhlas-spoiler) !important;
}


/* Upload a file */

.menu-1QACrS {
    max-height: calc(100vh - 150px);
    border: 1px solid var(--ikhlas3-hover) !important;
    border-radius: 12px;
}

.uploadModal-2ie9O_ {
    background-color: var(--ikhlas1) !important;
    -webkit-box-shadow: 0 0 0 1px var(--ikhlas2-hover), 0 2px 10px 0 var(--ikhlas2-hover) !important;
    box-shadow: 0 0 0 1px var(--ikhlas2-hover), 0 2px 10px 0 var(--ikhlas2-hover) !important;
}

.footer-VCsJQY {
    background-color: var(--ikhlas1) !important;
    -webkit-box-shadow: inset 0 1px 0 var(--ikhlas2-hover) !important;
    box-shadow: inset 0 1px 0 var(--ikhlas2-hover) !important;
}


/* new message and old message */

.newMessagesBar-1hF-9G,
.jumpToPresentBar-1cEnH0 {
    transition: 0.4s;
}

.jumpToPresentBar-1cEnH0 {
    width: 85%;
    padding-bottom: 0px;
    margin: auto;
}

.newMessagesBar-1hF-9G:hover,
.jumpToPresentBar-1cEnH0:hover {
    background-color: var(--ikhlas5-hover) !important;
}


/* member list */

.members-3WRCEx,
.members-3WRCEx>div {
    background-color: var(--background-primary) !important;
}


/* text/chat/upload area */

.scrollableContainer-15eg7h,
.uploadModal-2ie9O_ .inner-rBP-MS .channelTextAreaUpload-30SRDh .scrollableContainer-15eg7h,
.scrollableContainer-15eg7h {
    border-radius: 26px;
    background-color: var(--channeltextarea-background) !important;
    border: 1px solid var(--ikhlas1) !important;
    transition: 0.4s;
}

.scrollableContainer-15eg7h:active,
.uploadModal-2ie9O_ .inner-rBP-MS .channelTextAreaUpload-30SRDh .scrollableContainer-15eg7h:active,
.scrollableContainer-15eg7h:active {
    border: 1px solid var(--ikhlas2) !important;
}

.form-3gdLxP:before {
    border-top: none;
    border-radius: 6px;
    width: 100%;
    margin-top: -14px;
    background: transparent;
    height: 100%;
}

.messagesWrapper-RpOMA3.group-spacing-16 {
    margin-bottom: 14px;
}

.attachedBars-2BCP3l {
    margin-bottom: 5px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.clipContainer-31nYlH {
    border-radius: 8px;
}


/* Mention box */

.wrapper-1ZcZW- {
    color: var(--ikhlas2);
}

.autocomplete-3NRXG8 {
    background-color: var(--ikhlas5) !important;
}

.selected-3H3-RC {
    background-color: var(--ikhlas1-hover) !important;
}


/* Mention on channel list and server list old */

.mention-3XBnnZ {
    background-color: var(--ikhlas2) !important;
    transition: 0.4s;
}

.mention-3XBnnZ:hover {
    background-color: var(--ikhlas2) !important;
    opacity: 60%;
}

.mention-3XBnnZ:active {
    background-color: var(--ikhlas3) !important;
}


/* Mention on channel list and server list new */

.mention-3XBnnZ {
    background-color: var(--ikhlas2) !important;
    transition: 0.4s;
}

.mention-3XBnnZ:hover {
    background-color: var(--ikhlas2) !important;
    opacity: 60%;
}

.mention-3XBnnZ:active {
    background-color: var(--ikhlas3) !important;
}


/* Invite to server */

.theme-dark .contentWrapper-3oy4Xo {
    background-color: var(--background-primary);
}

#app-mount .lookOutlined-3sRXeN.colorGreen-29iAKY {
    color: var(--ikhlas2) !important;
    border-color: var(--ikhlas2) !important;
    border-radius: 6px;
}

.inviteRow-3vmB7i {
    margin-right: 0;
}

.statusOnline-Iw3r2o {
    background-color: var(--ikhlas-green) !important;
}

.statusOffline-2R-ArP {
    background-color: var(--text-muted) !important;
}

.attachButtonPlay-1ATmb5 {
    color: var(--ikhlas-green) !important;
}


/* Search bar */

.searchBar-zdmu7v,
.searchBar-3TnChZ .searchBarComponent-3N7dCG {
    background-color: var(--ikhlas1) !important;
    border: 1px solid var(--ikhlas1) !important;
    box-shadow: none !important;
    transition: 0.4s !important;
}

.searchBar-zdmu7v:hover,
.searchBar-3TnChZ:hover .searchBarComponent-3N7dCG:hover {
    border: 1px solid var(--ikhlas2) !important;
    border-radius: 6px !important;
}

.searchBar-3TnChZ,
.container-ZMc96U.themed-Hp1KC_ {
    border: none !important;
    /* -webkit-box-shadow: var(--elevation-low);
        box-shadow: var(--elevation-low); */
}

.search-25t1e9 .searchBox-31Zv9h {
    background-color: var(--ikhlas1);
    border-radius: 6px;
}

.searchBar-2aylmZ,
.container-2oNtJn {
    border-bottom: 1px solid var(--ikhlas2);
    transition: 0.4s;
    border-top: 1px solid var(--ikhlas1);
    border-right: 1px solid var(--ikhlas1);
    border-left: 1px solid var(--ikhlas1);
}

.searchBar-2aylmZ:active,
.container-2oNtJn:active {
    border: 1px solid var(--ikhlas2);
}


/* Search page */

.focused-2FU0YH,
.dim-2Uxgxb span {
    background-color: var(--background-primary) !important;
    color: var(--ikhlas2) !important;
}

.queryContainer-ZunrLZ {
    border: none;
}

.resultsGroup-1BPR25:before {
    display: none;
}

.layerContainer-yqaFck {
    display: none !important;
}

.container-ZMc96U.themed-Hp1KC_ {
    background: var(--background-primary) !important;
}

.container-2McqkF {
    background: var(--ikhlas1) !important;
    border: 1px solid var(--ikhlas1-hover) !important;
    border-radius: 7px !important;
}

.option-2KkUJO:hover,
.theme-dark .option-2KkUJO[aria-selected=true] {
    background-color: var(--background-modifier-selected) !important;
}

.option-2KkUJO:after {
    display: none !important;
}

.searchResulikWrap-3-pOjs {
    border-left: 1px solid var(--ikhlas3-hover) !important;
}

.tab-2j5AEF.selected-2LAck8 {
    border-radius: 12px !important;
    color: var(--ikhlas2) !important;
    background-color: transparent !important;
}

.tab-2j5AEF.selected-2LAck8:hover {
    background-color: var(--ikhlas2-hover) !important;
    -webkit-transition: background-color .17s ease, color .17s ease;
    transition: background-color .17s ease, color .17s ease;
}

.tab-2j5AEF:hover {
    background-color: var(--ikhlas2-hover) !important;
    border-radius: 12px !important;
    -webkit-transition: background-color .17s ease, color .17s ease;
    transition: background-color .17s ease, color .17s ease;
}


/* Threads */

.header-3_zmOb .tabBar-2WhZ9G .tab-2Jo-cu.active-346HgG,
.list-1uSVgu .tabBar-3N44FC .tab-1tp4jL.active-3WMEyE {
    background-color: var(--ikhlas1-hover) !important;
}

div.tab-2Jo-cu.active-346HgG.item-3XjbnG.selected-g-kMVV.themed-2-lozF:hover {
    background-color: var(--ikhlas2-hover) !important;
}

.container-2rzKKA:not(:hover) {
    border-top: 1px solid var(--ikhlas3-hover) !important;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.list-1uSVgu .tabBar-3N44FC .tab-1tp4jL.active-3WMEyE {
    background-color: transparent;
}

div.tab-1tp4jL.active-3WMEyE.item-3XjbnG.selected-g-kMVV.themed-2-lozF:hover {
    background-color: var(--ikhlas2-hover) !important;
}

svg.threadIcon-rd1kqG {
    color: var(--ikhlas2) !important;
}

.chat-2ZfjoI.threadSidebarOpen-1LSXvU {
    border-radius: 0;
}

.threadSidebar-1o3BTy {
    margin-left: 0px;
    border-radius: 0;
    border-top: none !important;
    border-bottom: none !important;
    border-right: none !important;
}


/* user center */

.panels-3wFtMD {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}


/* Server permissions */

.group-LWHoGI {
    border: 1px solid var(--ikhlas3-hover) !important;
}


/* profiles */

.tabBarContainer-sCZC4w {
    border-bottom: none;
}

.additionalActionsIcon-3Cy8UU {
    color: var(--ikhlas2) !important;
    border: 1px solid var(--ikhlas2) !important;
    transform-origin: center;
    transform: rotate(90deg);
    border-radius: 50%;
    width: 30px;
    height: 30px;
}

.additionalActionsIcon-3Cy8UU:hover {
    background-color: var(--ikhlas2-hover) !important;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    -webkit-transition: background-color .17s ease, color .17s ease;
    transition: background-color .17s ease, color .17s ease;
}

.top-K_jibn .item-3XjbnG {
    border-bottom: 3 px solid transparent;
}

.top-K_jibn .themed-2-lozF.item-3XjbnG:hover {
    /* background-color: var(--ikhlas2-hover) !important; */
    -webkit-transition: background-color .17s ease, color .17s ease;
    transition: background-color .17s ease, color .17s ease;
}

.focusLock-2tveLW .top-K_jibn .item-3XjbnG,
.repoHeader-2KfNvH .top-K_jibn .item-3XjbnG,
.header-145e10 .item-3XjbnG,
.contenikhlasrapper-SvZHNd .navButton-1XuvI-,
.searchResulikWrap-3-pOjs .tab-2j5AEF,
.container-18GwIk .tab-2Jo-cu {
    padding: 0 20px 0 20px;
}

.userPopout-2j1gM4 .banner-1YaD3N {
    position: absolute;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    top: -2px;
    left: -2px;
    background-size: calc(100% - 4px);
    background-position: center 2px;
    border-radius: 10px;
}

.userPopout-2j1gM4 .banner-1YaD3N:after {
    content: "";
    display: block;
    background-color: inherit;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    width: 100%;
    height: 124px;
    clip-path: path("M 0 0 H 304 V 123 H 302 V 12 Q 302 2 292 2 H 12 Q 2 2 2 12 V 123 H 0 Z");
}

.headerTop-3GPUSF,
.body-2wLx-E,
.footer-1Dc_h6 {
    background-color: var(--background-floating) !important;
}

.avatarPositionNormal-2jWoC2 {
    top: 16px;
}

.avatarPositionNormal-2jWoC2+.headerTop-3GPUSF {
    padding-top: 119px;
    border: none;
}

.avatarPositionPremium-1zPBq9+.headerTop-3GPUSF {
    margin-top: 119px;
}

.avatarPositionNormal-2jWoC2+.headerTop-3GPUSF>.profileBadges-2pItdR {
    top: 75px;
}


/* Remove & Block Friend */

.colorDanger-3n-KnP,
.colorDanger-3n-KnP .checkbox-hADx5o,
.colorDanger-3n-KnP .radioSelection-1UHp0b {
    color: var(--ikhlas-red) !important;
}

.colorDanger-3n-KnP.colorDefault-CDqZdO.focused-3qFvc8 {
    background-color: var(--ikhlas-red-hover) !important;
}


/* Account Settingsold */

.panels-3wFtMD {
    border-top: 1px solid var(--ikhlas3-hover) !important;
}

div#status-picker.menu-1QACrS.styleFixed-2_NfVL {
    border: 2px solid var(--ikhlas1-hover) !important;
    right: 3.5%;
}

.popout-1KHNAq {
    border: 1px solid var(--ikhlas3-hover) !important;
    border-radius: 0px 0px 7px 7px;
}

.colorDefault-CDqZdO.focused-3qFvc8 {
    border-radius: 5px;
    background-color: var(--ikhlas1-hover) !important;
    -webkit-transition: background-color .17s ease, color .17s ease;
    transition: background-color .17s ease, color .17s ease;
}

.button-12Fmur.enabled-9OeuTA:hover {
    color: var(--ikhlas2) !important;
    background-color: var(--background-modifier-selected) !important;
    border-radius: 50%;
    -webkit-transition: background-color .17s ease, color .17s ease;
    transition: background-color .17s ease, color .17s ease;
}

div.container-1zzFcN>div>.lookFilled-1Gx00P.colorBrand-3pXr91 {
    border: 1px solid var(--ikhlas2) !important;
    color: var(--ikhlas4);
}

div.container-1zzFcN>div>.lookFilled-1Gx00P.colorBrand-3pXr91:hover {
    background-color: var(--ikhlas2-hover) !important;
    -webkit-transition: background-color .17s ease, color .17s ease;
    transition: background-color .17s ease, color .17s ease;
}

.accountProfileCard-lbN7n- {
    border: 1px solid var(--ikhlas3-hover) !important;
}


/* Account Settings new */

.accountProfileCard-lbN7n- {
    border: 1px solid var(--ikhlas3-hover) !important;
}


/* Status picker thing */

#app-mount #status-picker #status-picker-online:not(.focused-3qFvc8) .status-2DiCMd {
    background-color: var(--ikhlas-green) !important;
}

#app-mount #status-picker #status-picker-dnd:not(.focused-3qFvc8) .status-2DiCMd {
    background-color: var(--ikhlas-red) !important;
}

#app-mount #status-picker #status-picker-invisible:not(.focused-3qFvc8) .status-2DiCMd {
    background-color: var(--text-muted) !important;
}


/* Status Colors */

#app-mount .wrapper-1VLyxH rect[fill="hsl(139, calc(var(--saturation-factor, 1) * 47.3%), 43.9%)"],
#app-mount .wrapper-1VLyxH rect :not(.pointerEvenik-2zdfdO)[mask="url(#svg-mask-status-online)"] {
    fill: var(--ikhlas-green)
}

#app-mount .wrapper-1VLyxH rect[fill="hsl(139, calc(var(--saturation-factor, 1) * 47.3%), 43.9%)"],
#app-mount .wrapper-1VLyxH rect :not(.pointerEvenik-2zdfdO)[mask="url(#svg-mask-status-online-mobile)"] {
    fill: var(--ikhlas-green)
}

#app-mount .wrapper-1VLyxH rect[fill="hsl(359, calc(var(--saturation-factor, 1) * 82.6%), 59.4%)"],
#app-mount .wrapper-1VLyxH rect :not(.pointerEvenik-2zdfdO)[mask="url(#svg-mask-status-dnd)"] {
    fill: var(--ikhlas-red)
}

.container-ZMc96U [fill="hsl(139, calc(var(--saturation-factor, 1) * 47.3%), 43.9%)"] {
    fill: var(--ikhlas-green);
}

.container-ZMc96U [fill="hsl(359, calc(var(--saturation-factor, 1) * 82.6%), 59.4%)"] {
    fill: var(--ikhlas-red);
}


/* Change status Page */

.lookFilled-1GseHa.select-1Ia3hD {
    border: 1px solid;
    border-color: var(--ikhlas3-hover) !important;
}


/* Channel things */

.clickable-28SzVr.container-1oeRFJ:hover,
.clickable-28SzVr.container-1oeRFJ:hover .muted-14PyqW {
    color: var(--channels-default) !important;
    -webkit-transition: background-color .17s ease, color .17s ease;
    transition: background-color .17s ease, color .17s ease;
}

.clickable-28SzVr:hover .layout-1qmrhw {
    background-color: var(--background-modifier-selected);
    -webkit-transition: background-color .17s ease, color .17s ease;
    transition: background-color .17s ease, color .17s ease;
}

.clickable-28SzVr.container-1oeRFJ:active:hover,
.highlighted-3PcOfB.container-1oeRFJ:hover,
.selected-1-Z6gm.container-1oeRFJ:hover {
    background-color: var(--background-modifier-selected);
    -webkit-transition: background-color .17s ease, color .17s ease;
    transition: background-color .17s ease, color .17s ease;
}

.listItem-3SmSlK>.pill-L_aLMQ>.item-2LIpTv {
    background-color: transparent !important;
}

.item-2LIpTv {
    background-color: var(--interactive-active) !important;
}


/*selected private channel*/

.selected-1-Z6gm .layout-1qmrhw {
    background-color: var(--ikhlas1-hover);
}


/*folders*/

.folderIconWrapper-1oRIZr {
    background-color: transparent !important;
}

.folderIconWrapper-1_bOZe:hover {
    background-color: var(--ikhlas2-hover) !important;
}

.closedFolderIconWrapper-3tRb2d {
    background-color: var(--ikhlas2-hover) !important;
    transition: 0.5s;
}

.folderIconWrapper-1oRIZr:hover {
    background-color: var(--ikhlas4-hover) !important;
}

.expandedFolderIconWrapper-3RwQpD>svg {
    color: var(--ikhlas2) !important;
}


/* Stage Discovery */

.container-1a3EgQ {
    border: 1px solid var(--ikhlas3-hover) !important;
}

.footer-31IekZ {
    background-color: var(--ikhlas1) !important;
    -webkit-box-shadow: inset 0 1px 0 var(--ikhlas2-hover);
    box-shadow: inset 0 1px 0 var(--ikhlas2-hover);
}

.lookFilled-1Gx00P.colorGrey-2DXtkV:hover {
    background-color: var(--ikhlas3-hover) !important;
    -webkit-transition: background-color .17s ease, color .17s ease;
    transition: background-color .17s ease, color .17s ease;
}


/* nitro section */

.feature-2IUcBI {
    background-color: var(--ikhlas1) !important;
}

.lookInverted-2D7oAl.colorBrand-3pXr91:hover:not(.standardSidebarView-E9Pc3j) {
    background-color: var(--ikhlas5-hover) !important;
    -webkit-transition: background-color .17s ease, color .17s ease;
    transition: background-color .17s ease, color .17s ease;
}

.lookInverted-2D7oAl.colorBrand-3pXr91 {
    border-radius: 6px !important;
    background-color: var(--ikhlas2) !important;
    color: var(--header-primary) !important;
}

.billingInformation-1MZXzx.detailsBlock-FoDTGA,
.detailsBlock-FoDTGA,
.dropdown-2fxkrS {
    border: 1px solid var(--ikhlas3-hover) !important;
}

div#popout_3247.layer-2aCOJ3 {
    border: 1px solid var(--ikhlas3-hover) !important;
}

.option-2eIyOn {
    border-bottom: 1px solid var(--ikhlas3-hover) !important;
}

.lookFilled-1Gx00P.colorGreen-29iAKY:disabled {
    background-color: transparent;
}

.subscriptionsRedirectWarningIcon-3a4KPu>path,
.warningIcon-3Mtahk {
    fill: var(--ikhlas2);
    color: var(--ikhlas2) !important;
}


/* gifting */

.planOptionDiscount-2UFc37 {
    background-color: var(--ikhlas2);
}


/* Boost Server */

.tierHeaderLocked-30MLlO,
.tierBody-1d3UiS {
    border: 1px solid var(--ikhlas3-hover);
}

.theme-dark .background-3xJH_4,
.tierInProgress-1vFUnw {
    color: var(--ikhlas3) !important;
    background-color: var(--ikhlas3) !important;
}

.tierBody-3ju-rc,
.perksModal-CLcR1c,
.perk-19D_HN,
.theme-dark .tierUnlocked-1yG5Ic,
.theme-light .tierUnlocked-1yG5Ic,
.tierHeaderLocked-30MLlO,
.tierBody-1d3UiS,
.headerExpanded-1-zwDr,
.changeDetails-1kMZqI {
    background-color: transparent !important;
}

.tierMarkerBackground-G8FoN4 {
    background-color: var(--ikhlas2-hover) !important;
}

.theme-dark .tier1Icon-3asxoC,
.theme-dark .tier2Icon-2Df68f,
.iconTierThree-n2n0gX {
    color: var(--ikhlas1) !important;
}


/* settings page */

.lookFilled-1Gx00P.colorBrand-3pXr91:hover,
.lookFilled-1Gx00P.colorTransparent-1ewNp9:hover,
.lookFilled-1Gx00P.colorBrandNew-g5lmBU:hover {
    background-color: var(--ikhlas4-hover) !important;
    -webkit-transition: background-color .17s ease, color .17s ease;
    transition: background-color .17s ease, color .17s ease;
}

.lookFilled-1Gx00P.colorBrandNew-g5lmBU,
.lookFilled-1Gx00P.colorGrey-2DXtkV {
    border: 1px solid var(--ikhlas4);
    background-color: transparent !important;
    transition: 0.4s;
    border-radius: 6px;
}

.lookFilled-1Gx00P.colorBrand-3pXr91 {
    color: var(--ikhlas1);
}


/* .lookInverted-2D7oAl .contents-18-Yxp, .lookLink-9FtZy- .contents-18-Yxp, .lookOutlined-3sRXeN .contents-18-Yxp{
        color: var(--ikhlas4);
    } */

.lookFilled-1Gx00P.colorBrand-3pXr91,
.lookFilled-1Gx00P.colorBrandNew-g5lmBU {
    border-radius: 6px;
}

.side-2ur1Qk .themed-2-lozF.selected-g-kMVV.item-3XjbnG,
.topPill-3DJJNV .themed-2-lozF.selected-g-kMVV.item-3XjbnG,
.lookFilled-1Gx00P.colorTransparent-1ewNp9 {
    background-color: var(--background-modifier-selected) !important;
}

.lookFilled-1Gx00P.colorRed-1TFJan {
    background-color: var(--ikhlas-red) !important;
}

.lookFilled-1Gx00P.colorRed-1TFJan:hover {
    background-color: hsla(341, 75%, 51%, .8) !important;
}

.lookOutlined-3sRXeN.colorRed-1TFJan {
    color: var(--ikhlas-red) !important;
    border-color: var(--ikhlas-red) !important;
}

.lookOutlined-3sRXeN.colorRed-1TFJan:hover {
    background-color: var(--ikhlas-red-hover) !important;
}

.side-2ur1Qk .item-3XjbnG[aria-controls="DELETE-tab"],
.side-2ur1Qk .item-3XjbnG[aria-controls="logout-tab"] {
    color: var(--ikhlas-red) !important;
}

.side-2ur1Qk .item-3XjbnG[aria-controls="DELETE-tab"]:hover,
.side-2ur1Qk .item-3XjbnG[aria-controls="logout-tab"]:hover {
    background-color: var(--ikhlas-red-hover) !important;
}


/* Connections */

.connection-107AGH,
.connectedAccount-1xKpli,
.authedApp-1tw-eT {
    border: 1px solid var(--ikhlas3-hover) !important;
    transition: 0.4s;
    border-radius: 6px;
}

.accountBtn-1YkMgV .accountBtnInner-3XK70s {
    background-color: transparent;
    border: none;
}

.connectedAccount-1xKpli:hover {
    background-color: var(--ikhlas2-hover);
}

.connectionHeader-2rV1ze {
    border-bottom: 1px solid var(--ikhlas3-hover) !important;
}


/* Voice settings */

div.container-3NTP7o {
    border-radius: 5px;
}

.userSettingsVoice-1_dzjw .previewOverlay-2reuWf {
    background-color: var(--ikhlas5) !important;
    border-color: var(--ikhlas3-hover) !important;
}

.css-gvi9bl-control {
    border-color: var(--ikhlas3-hover) !important;
}


/* stream preview */

.streamPreview-3qoMP4 {
    background: var(--ikhlas1) !important;
    box-shadow: 0 0 0 1px var(--ikhlas2-hover), 0 2px 10px 0 var(--ikhlas2-hover);
    -webkit-box-shadow: 0 0 0 1px var(--ikhlas2-hover), 0 2px 10px 0 var(--ikhlas2-hover);
}


/* Payment methods */


/* .codeRedemptionRedirect-3SBiCp {
        color: var(--ikhlas4) !important;
        background-color: var(--ikhlas3) !important;
        border-color: var(--ikhlas3) !important;
    } */

.lookFilled-1Gx00P.colorPrimary-3b3xI6 {
    border-radius: 6px;
    border: 1px solid var(--ikhlas3-hover) !important;
    background-color: var(--ikhlas1) !important;
    transition: 0.4s;
}

.lookFilled-1Gx00P.colorPrimary-3b3xI6:active,
.lookFilled-1Gx00P.colorPrimary-3b3xI6:hover {
    background-color: var(--ikhlas3-hover) !important;
}


/* Privacy & Safety */

.item-2idW98 {
    border: 1px solid var(--ikhlas3-hover);
    border-radius: 6px;
    padding: 0px;
}

.radioBar-3w9XY- {
    border-radius: 6px;
}


/* Check marks */

.container-2nx-BQ[style*="opacity: 1; background-color: hsl(139, calc(var(--saturation-factor, 1) * 47.3%), 43.9%)"] {
    background-color: var(--ikhlas2) !important;
}

.container-2nx-BQ[style="opacity: 1; background-color: hsl(218, calc(var(--saturation-factor, 1) * 4.6%), 46.9%);"],
.container-2nx-BQ[style="opacity: 0.3;background-color: hsl(139, calc(var(--saturation-factor, 1) * 47.3%), 43.9%);"] {
    background-color: var(--ikhlas6-hover) !important;
}


/* HypeSquad */

.membershipDialogHeading-2YNliA,
.membershipDialogHouseDescription-2uFjjO,
.membershipDialogHouseName-1yc2Ci,
.membershipDialogSwitchHouses-2bOt9w,
.membershipDialogSwitchHousesAction-O0eVhe:hover {
    color: var(--ikhlas4) !important;
}


/* embeds */

.embedFull-1HGV2S {
    background-color: var(--background-primary) !important;
}


/* reactions */

.reaction-2A2y9y.reactionMe-3I9gFK {
    background-color: var(--brand-experiment-15a) !important;
    border-color: var(--brand-experiment) !important;
}

.container-KM8BU6,
.reactors-1VXca7,
.reactionSelected-1aMb2K,
.scroller-2GkvCq {
    background-color: var(--background-primary) !important;
}


/* servers */

.avatarUploaderInner-yEhTv5,
.lookFilled-1Gx00P.colorBrandNew-g5lmBU:disabled {
    background-color: transparent;
}

.interactiveRow-ALfmDn:hover {
    background-color: var(--background-modifier-selected);
}

.subscribeTooltipWrapper-3ipXtC {
    background-color: var(--background-primary);
}


/* webhooks and integrations and audit */

.auditLog-1NVAY0,
.cardPrimaryEditable-2mz_3i,
.headerDefault-1e6yjj {
    transition: 0.4s;
    background-color: transparent !important;
    border: 1px solid var(--ikhlas3-hover) !important;
    border-color: var(--ikhlas3);
    border-radius: 6px;
}

.headerExpanded-1-zwDr {
    background: transparent;
    border-bottom: solid 1px var(--ikhlas2-hover) !important;
}


/* keyboard combos */

.keyboardShortcutsModal-2CRmCm {
    background-color: var(--background-primary) !important;
}

.noBackground-32obMC.noShadow-3QKycP {
    background-color: transparent !important;
}