#redc{
   overflow-y: hidden;
   overflow-x: scroll;
   display:flex;
}

#redc img{
    margin:10px;
}

.seczy{
   filter: brightness(55%);
   filter: grayscale(100%);
   transition:1s;
}

.seczy:hover{
   filter: brightness(100%);
   filter: grayscale(0%);
}

.child{    
   border: solid;
   border-radius: 5px;
   width: 97%;
   height: 392px;
   margin-top: 9px !important;
   height:auto;
   margin: auto;
}

.child p{
   margin-left:1em;
   margin-right:1em;
   text-align:left;
}

#pfpp {
   float: right;
   height: 150px;
   margin: 1em;
   border-radius: 10px;
}

.lala{
   width:67%; 
   margin:auto;
}

.butterfly{
   height: 50px;
   margin: auto;
   position: relative;
   margin:auto;
}


.socials{
   margin-left: auto;
   margin-right: auto;
   margin-bottom: unset;
   margin-top: unset;
}

.lmaolmao{
   margin:10px;
   border-bottom:solid;
   overflow:hidden;
   color: #7eddd3 !important;
}




@media only screen and (max-width: 768px){
.lmaolmao{
 border-top:solid;
 padding-top:4px;
   }

.lala{ 
 width:100%;
 margin:unset;
}

#pfpp{
 margin:auto;
 width: 93%;
 height:auto;
 float:unset;
 margin-top:10px !important;
}
.papi{
 width:100%;
 position:relative;
    }
}

