:root {
    /*   --ikhlas1: #3b4168; 
        --ikhlas1: #202225; 
        --ikhlas1: #050b2b; 
        --ikhlas1: #1A1F26; */
        --ikhlas1: #14181F;
        --ikhlas4: #E0E5FF;
        --ik2: #72767d;
        --ik3: #4f545c;
        --ikhlas7-hover: #fff;
        --ikhlas-green: #16c063;
        --ikhlas-red: #e02460;
        --ikhlas-red-hover: #e0248225;
        --ikhlas-spoiler: #2a2c30;
    }
    
    /* dark accents */
    .theme-dark {
        --ikhlas2: #FF94D1;
        --ikhlasdark2: #FF94D1;
        --ikhlas3: #a77edd4f;
        /* --ikhlas3: #a48fffab; */
        --ik5: #ff94d154;
        --ikhlas5: #b96794;
        --ikhlas6: #ff94d19d;
        --ikhlas1-hover: #dd1dd42c;
        --ikhlas2-hover: #f21cd525;
        --ikhlas3-hover: #ffe0f85b;
        --ikhlas4-hover: #f21cce38;
        --ikhlas5-hover: #db1ab1;
        --ikhlas6-hover: #db1ab156;
    }
    
    .theme-light {
        --ikhlas2: #ff9494;
        --ikhlaslight2: #ff9494;
        --ikhlas3: #ff8f8fab;
        --ik5: #ff949454;
        --ikhlas5: #b96767;
        --ikhlas6: #ff94949d;
        --ikhlas1-hover: #dd1d1d2c;
        --ikhlas2-hover: #f21c1c25;
        --ikhlas3-hover: #ffe0e05b;
        --ikhlas4-hover: #f21c1c38;
        --ikhlas5-hover: #db1a1a;
        --ikhlas6-hover: #db1a1a56;
    }
    
    /* Discord Colors */
    :root {
        --bdfdb-blurple: var(--ikhlas2);
    }
    
    .theme-dark, .theme-light {
        --toast-contents: var(--ikhlas1) !important;
        --activity-card-background:var(--ikhlas1) !important;
        --spotify-color:var(--ikhlas2) !important;
        --header-primary: var(--ikhlas4) !important;
        --info-warning-background: var(--ikhlas5) !important;
        --info-warning-foreground: var(--ikhlas2) !important;
        --status-positive-background: var(--ikhlas-green) !important;
        --status-positive-text: var(--ikhlas7-hover) !important;
        --status-danger-background: var(--ikhlas-red) !important;
        --status-danger-text: var(--ikhlas7-hover) !important;
        --header-secondary: #b9bbbe !important;
        --text-normal: var(--ikhlas4) !important;
        --text-muted: #8899a6 !important;
        --text-link: var(--ikhlas2) !important;
        --text-positive: var(--ikhlas-green) !important;
        /*--text-warning: hsl(38,calc(var(--saturation-factor, 1)*95.7%),54.1%);*/
        --text-danger: var(--ikhlas-red) !important;
        --interactive-normal: #b9bbbe !important;
        --interactive-hover: var(--ikhlas2) !important;
        --interactive-active: var(--ikhlas2) !important;
        --interactive-muted: var(--ik3) !important;
        --background-primary: var(--ikhlas1) !important;
        --background-secondary: var(--ikhlas1) !important;
        --background-secondary-alt: var(--ikhlas1) !important;
        --background-tertiary: var(--ikhlas1) !important;
        --background-accent: var(--ikhlas2) !important;
        --background-floating: var(--ikhlas1) !important;
        --background-modifier-hover: var(--ikhlas3-hover) !important;
        --background-modifier-active: var(--ikhlas2-hover) !important;
        --background-modifier-selected: var(--ikhlas2-hover) !important;
        --background-modifier-accent: var(--ikhlas3) !important;
        --scrollbar-thin-thumb: var(--ikhlas-hover) !important;
        --scrollbar-thin-track: transparent !important;
        --scrollbar-auto-thumb:var(--ikhlas2) !important;
        --scrollbar-auto-track: var(--ikhlas3-hover) !important;
        --elevation-stroke: 0 0 0 1px var(--ikhlas2-hover) !important;
        --elevation-low: 0 1px 0 var(--ikhlas2-hover) !important;
        --elevation-medium: 0 4px 4px var(--ikhlas2-hover) !important;
        --elevation-high: 0 8px 16px var(--ikhlas2-hover) !important;
        --logo-primary: var(--ikhlas7-hover) !important;
        --control-brand-foreground: var(--ikhlas2) !important;
        --background-mentioned: var(--ikhlas2-hover) !important;
        --background-mentioned-hover: var(--ikhlas4-hover) !important;
        --background-message-hover: var(--ikhlas1-hover) !important;
        --channels-default: var(--ikhlas7-hover) !important;
        /* --guild-header-text-shadow: 0 1px 1px var(--ikhlas2-hover); */
        --channeltextarea-background: var(--ik5);
        --deprecated-card-bg: var(--ikhlas5);
        --deprecated-card-editable-bg: var(--ikhlas5);
        --deprecated-quickswitcher-input-background: var(--ikhlas5);
        --deprecated-quickswitcher-input-placeholder: var(--ikhlas2);
        --deprecated-text-input-bg: var(--ikhlas5);
        --deprecated-text-input-border: var(--ikhlas1-hover);
        --deprecated-text-input-border-hover: var(--ikhlas2);
        --info-positive-text: var(--ikhlas7-hover);
        --toast-background: #2f3136;
        --toast-header: #202225;
        --toast-contents: #36393f;
        --toast-box-shadow: rgba(0, 0, 0, .2);
        --toast-border: rgba(28, 36, 43, .6);
        --scrollbar-auto-scrollbar-color-thumb: #202225;
        --scrollbar-auto-scrollbar-color-track: #2f3136;
        --info-warning-text: var(--ikhlas7-hover);
        --info-danger-text: var(--ikhlas7-hover);
        --info-help-background: hsla(197,calc(var(--saturation-factor, 1)*100%),47.8%,0.1);
        --info-help-foreground: hsl(197,calc(var(--saturation-factor, 1)*100%),47.8%);
        --info-help-text: var(--ikhlas7-hover);
        --status-warning-text: var(--ikhlas1);
        --text-link-low-saturation: hsl(197,calc(var(--saturation-factor, 1)*100%),52.9%);
    }
    
    html {
        --brand-experiment: var(--ikhlas2);
        --brand-experiment-05a: var(--ikhlas2-hover);
        --brand-experiment-10a: var(--ikhlas4-hover);
        --brand-experiment-15a: var(--ikhlas2-hover);
        --brand-experiment-30a: var(--ikhlas1-hover);
        --brand-experiment-80a: var(--ikhlas6-hover);
        --brand-experiment-95a: var(--ikhlas4-hover);
        --brand-experiment-100: var(--ikhlas2);
        --brand-experiment-160: var(--ikhlas2-hover);
        --brand-experiment-200: var(--ikhlas2);
        --brand-experiment-360: var(--ikhlas2);
        --brand-experiment-400: var(--ikhlas2);
        --brand-experiment-500: var(--ikhlas5-hover);
        --brand-experiment-560: var(--ikhlas2-hover);
        --brand-experiment-600: var(--ikhlas2-hover);
        --control-brand-foreground: var(--control-brand-foreground-new);
    }
    
    